@layer components {
	.item[data-icon],
	.item .icon[data-icon] {
		display: inline-block;
		vertical-align: middle;
	}
	
	.item[data-icon] {
		width: 3.75em;
	}
	
	.item .icon[data-icon] {
		width: 2em;
	}
	
	.item[data-icon][data-count],
	.item .icon[data-icon][data-count] {
		position: relative;
		background-origin: content-box;
		background-clip: content-box;
		padding: 4px;
	}
	
	.item[data-icon][data-count]::before,
	.item .icon[data-icon][data-count]::before {
		position: absolute;
		right: 0;
		bottom: 0;
		content: attr(data-count);
		color: var(--neon-blue);
		font-weight: 600;
		font-size: 14px;
		line-height: 1;
		font-stretch: 80%;
		filter: drop-shadow(0 0 3px currentColor);
	}
}