@layer pages {
	main.intro {
		background-color: lch(50 21.33 249.3 / 0.77);
		background-color: lch(39 16.84 247.12);
		/* color: black; */
		padding: 30px;
	}
	
	main.intro .page-content {
		max-width: calc(400px + (10px + 2vw) + 400px);
		margin: 0 auto;
	}
	
	main.intro .page-content > * + * {
		margin-top: calc(10px + 2vw);
	}
	
	main.intro .page-content > :first-child {
		margin-top: 5vh;
	}
	
	main.intro .page-content > :last-child {
		margin-bottom: 5vh;
	}
	
	main.intro .desc {
		font-size: 18px;
		font-weight: 500;
	}
	
	main.intro .link {
		/* color: var(--neon-yellow); */
		color: inherit;
	}
	
	main.intro .external-link::after {
		content: '';
		display: inline-block;
		width: 0.7em;
		aspect-ratio: 1;
		background: url('../../images/noun-share-3066982-FFFFFF.svg') center / 100% auto no-repeat;
		margin-left: 0.15em;
		vertical-align: 15%;
	}
	
	
	main.intro .tiles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
		grid-gap: calc(10px + 2vw);
		max-width: 1000px;
	}
	
	main.intro .tile {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		aspect-ratio: 3;
		padding: calc(5px + 1vw);;
		/* border-radius: 10px;
		border: 1px solid; */
		/* background: lch(0 0 0 / 0.1);
		clip-path: polygon(0 16px, 16px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%); */
		font-size: 20px;
		font-weight: 500;
	}
	
	main.intro .tile {
		position: relative;
		z-index: 1;
	}
	
	main.intro .tile::before {
		position: absolute;
		inset: -2px;
		z-index: -2;
		content: '';
		background: lch(100 0 0 / 0.2);
		background-color: white;
		clip-path: polygon(0 16px, 16px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
		opacity: 0;
		transition: opacity 120ms;
	}
	
	main.intro .tile:has(a:hover)::before {
		opacity: 1;
		transition-duration: 60ms;
	}
	
	main.intro .tile::after {
		position: absolute;
		inset: 0px;
		z-index: -1;
		content: '';
		background-color: lch(36 16 249.3);
		background-repeat: no-repeat;
		background-size: 60px auto;
		clip-path: polygon(0 16px, 16px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
	}
	
	main.intro .tile--research::after {
		background-image: url('../../images/textures/tech-icon.avif');
		background-position: right -23px bottom -5px;
	}
	
	main.intro .tile--calculator::after {
		background-image: url('../../images/textures/select-recipe.avif');
		background-position: right -20px bottom -20px;
	}
	
	main.intro .tile--reference::after {}
	
	main.intro .tile--github::after {
		background-image: url('../../images/github-mark-white.svg');
		background-position: right -10px bottom -10px;
	}
	
	main.intro .tile--discord::after {
		background-image: url('../../images/discord-mark-white.svg');
		background-position: right -10px bottom -10px;
	}
	
	main.intro .tile--reddit::after {
		background-image: url('../../images/reddit-mark-white.svg');
		background-position: right -10px bottom -10px;
	}
	
	main.intro .tile--dummies::after {
		background-image: url('../../images/dsp-for-dummies.png');
		background-position: right -40px bottom -30px;
		background-size: 120px auto;
	}
	
	main.intro .highlight {
		filter: drop-shadow(0 0 3px currentColor);
	}
	
	main.intro .per {
		color: var(--neon-green);
	}
	
	main.intro .quantity {
		color: var(--neon-blue);
	}
	
	main.intro details {
		width: fit-content;
		background-color: lch(0 0 0 / 0.2);
		clip-path: polygon(0 6px, 6px 0, 100% 0, 100% calc(100% - 6px), calc(100% - 6px) 100%, 0 100%);
	}
	
	main.intro details summary {
		padding: 8px 20px;
	}
	
	main.intro details summary:hover:not(:active) {
		background-color: lch(0 0 0 / 0.1);
	}
	
	main.intro details summary::after {
		content: '';
		display: inline-block;
		aspect-ratio: 1;
		width: 20px;
		background: url('../../images/noun-triangle-down-851964.svg') top left / 100% auto no-repeat;
		vertical-align: middle;
	}
	
	main.intro details[open] summary::after {
		background-image: url('../../images/noun-triangle-up-851966.svg');
	}
	
	main.intro details > div {
		padding: 20px 20px;
	}
	
	main.intro details p + p {
		margin-top: 0.3lh;
	}
	
	main.intro .credits {
		font-size: 70%;
		font-weight: 200;
	}
}