@layer pages {
	main.research {
		padding: 0;
		--back-color: lch(17 0 0);
	}
	
	main.research.scrollable-grid {
		background:
			url('../../images/textures/dot-grid.avif') 0 0 / 20px repeat,
			url('../../images/textures/vignette.avif') center / cover no-repeat
		;
		background-blend-mode: overlay, normal;
		background-attachment: local, fixed;
		background-color: lch(17 0 0);
	}
	
	main.research.pannable-grid {
		background:
			url('../../images/textures/vignette.avif') center / cover no-repeat
		;
		background-attachment: fixed;
		background-color: lch(17 0 0);
	}
	
	main.research .grid {
		isolation: isolate;
		display: inline-grid;
		grid-template-columns: repeat(var(--columns), 100px);
		grid-template-rows: repeat(var(--rows), 60px);
		grid-gap: 40px 60px;
		margin: 500px;
		visibility: hidden;
	}
	
	main.research.pannable-grid .grid {
		/* background: url('../../images/textures/dot-grid.avif') 0 0 / 20px repeat; */
		background:
			radial-gradient(3px at 4px 4px, lch(100 0 0 / 0.05) 1px, lch(100 0 0 / 0) 2px) -14px -14px / 20px 20px,
			
			radial-gradient(3px at 4px 4px, lch(100 0 0 / 0.05) 2px, lch(100 0 0 / 0) 2.5px) -14px -34px / 160px 100px,
			radial-gradient(3px at 4px 4px, lch(100 0 0 / 0.05) 2px, lch(100 0 0 / 0) 2.5px) -54px -34px / 160px 100px,
			
			radial-gradient(3px at 4px 4px, lch(100 0 0 / 0.05) 2px, lch(100 0 0 / 0) 2.5px) -14px -14px / 160px 100px,
			radial-gradient(3px at 4px 4px, lch(100 0 0 / 0.05) 2px, lch(100 0 0 / 0) 2.5px) -54px -14px / 160px 100px
		;
		visibility: initial;
	}
	
	/* main.research.is-dragging .grid > * {
		pointer-events: none;
	} */
	
	main.research .grid > * {
		visibility: initial;
	}
	
	main.research canvas {
		grid-area: 1 / 1 / -1 / -1;
		z-index: -3;
	}
	
	main.research .tech {
		position: relative;
		cursor: var(--cursor-pointer);
	}
	
	main.research .tech[data-epoch] {}
	/* main.research .tech[data-epoch]::after {
		position: absolute;
		top: 4px;
		right: 4px;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--epoch, transparent);
	} */
	/* main.research .tech[data-epoch="6000"] { --epoch: var(--jello-none); } */
	main.research .tech[data-epoch="6001"] { --epoch: var(--jello-blue); }
	main.research .tech[data-epoch="6002"] { --epoch: var(--jello-red); }
	main.research .tech[data-epoch="6003"] { --epoch: var(--jello-yellow); }
	main.research .tech[data-epoch="6004"] { --epoch: var(--jello-purple); }
	main.research .tech[data-epoch="6005"] { --epoch: var(--jello-green); }
	main.research .tech[data-epoch="6006"] { --epoch: var(--jello-white); }
	
	main.research .tech .name {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		min-width: fit-content;
		padding-bottom: 4px;
		color: var(--neon-white);
		font-stretch: 80%;
		font-size: 0.75rem;
		white-space: nowrap;
	}
	
	main.research .tech[data-epoch] .name {
		color: var(--epoch, var(--neon-white));
	}
	
	/* main.research .tech[data-epoch]:not([data-epoch="6000"]) .name::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: currentColor;
		margin-right: 0.4em;
		vertical-align: -5%;
	} */
	
	main.research .tech .icon.tech {
		position: absolute;
		inset: 0;
		width: 40px;
		margin: auto;
	}
	
	/* main.research .tech[data-epoch]:not([data-epoch="6000"]) .icon.tech {
		right: 40px;
	}
	
	main.research .tech .icon.epoch {
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0;
		width: 20px;
		margin: auto;
	} */
	
	
	/* main.research .tile {
		width: 100px;
		height: 60px;
		background-color: var(--tech-unavailable);
	} */
	
	
	main.research .tech .tile {
		position: relative;
		width: 100px;
		height: 60px;
		cursor: var(--cursor-pointer);
		--clip-path: polygon(
			0 6px,
			6px 0,
			100% 0,
			100% calc(100% - 6px),
			calc(100% - 3px) calc(100% - 3px),
			calc(100% - 12px) calc(100% - 3px),
			calc(100% - 15px) 100%,
			0 100%
		);
	}
	
	main.research .tile::before {
		position: absolute;
		inset: -2px;
		z-index: -2;
		content: '';
		background-color: var(--tech-hovered);
		clip-path: var(--clip-path);
		opacity: 0;
		/* transition: opacity 120ms, inset 300ms; */
		transition: opacity 140ms;
		pointer-events: none;
	}
	
	main.research .tech.hovered .tile::before,
	main.research .tech:hover .tile::before {
		opacity: 1;
		transition-duration: 60ms;
	}
	
	main.research .tech.is-researched .tile::before {
		inset: -3px;
		background-color: var(--tech-researched-border);
		opacity: 1;
	}
	
	main.research .tile::after {
		position: absolute;
		inset: 0px;
		z-index: -1;
		content: '';
		background-color: var(--tech-unavailable);
		clip-path: var(--clip-path);
	}
	
	main.research .tech.can-research .tile::after {
		background-color: var(--tech-available);
	}
	
	main.research .tech.is-researched .tile:after {
		background-color: var(--tech-researched);
	}
	
	
	
	
	
	main.research .about {
		grid-column: 1 / 3;
		grid-row: 1 / 4;
		height: fit-content;
		user-select: none;
	}
	
	main.research .about label {
		display: inline-block;
		padding: 4px;
	}
	
	main.research .about input[type="checkbox"] {
		margin-left: 0.3em;
	}
	
	main.research .reset {
		display: block;
		margin-top: 10px;
		padding: 6px 10px;
		border: 1px solid var(--neon-red);
	}
	
	
	main.research .zoom {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		width: fit-content;
		padding: 0;
		background-color: black;
		/* border-radius: 6px; */
		border: 1px solid;
		margin: 0 auto;
	}
	
	main.research .zoom button {
		width: 3em;
		height: 2em;
		/* border: 1px solid; */
		font-weight: bold;
	}
	
	main.research .zoom button:hover {
		background-color: lch(100 0 0 / 0.3);
	}
	
	main.research .zoom output {
		display: inline-block;
		width: 2.5em;
		margin: 0 0.2em;
		text-align: center;
	}
	
	
	
	/* main.research .grid { grid-template-rows: repeat(var(--rows), minmax(60px, auto)) }
	main.research .tech .tile { transition: width 200ms, height 200ms }
	main.research .tech:hover .tile { width: 140px; height: 140px; } */
}