@layer icons {
	[data-icon^="ui"] {
		width: 80px;
		aspect-ratio: 1;
	}
	
	[data-icon="ui.select-recipe"] {
		background: url('../images/textures/select-recipe.avif') top left / 100% auto no-repeat;
	}
	[data-icon="ui.research"] {
		background: url('../images/textures/research-icon-80.avif') top left / 100% auto no-repeat;
	}
	[data-icon="ui.tech"] {
		background: url('../images/textures/tech-icon.avif') top left / 100% auto no-repeat;
	}
	
	[data-icon="ui.tri-up"] {
		background: url('../images/noun-triangle-up-851966.svg') top left / 100% auto no-repeat;
	}
	[data-icon="ui.tri-right"] {
		background: url('../images/noun-triangle-right-851967.svg') top left / 100% auto no-repeat;
	}
	[data-icon="ui.tri-down"] {
		background: url('../images/noun-triangle-down-851964.svg') top left / 100% auto no-repeat;
	}
	[data-icon="ui.tri-left"] {
		background: url('../images/noun-triangle-left-851965.svg') top left / 100% auto no-repeat;
	}
	
	[data-icon="ui.inc-1"] {
		background: url('../images/textures/inc-1.avif') top left / 100% auto no-repeat;
	}
	[data-icon="ui.inc-2"] {
		background: url('../images/textures/inc-2.avif') top left / 100% auto no-repeat;
	}
	[data-icon="ui.inc-4"] {
		background: url('../images/textures/inc-4.avif') top left / 100% auto no-repeat;
	}
	
	[data-icon^="ui.inc"] {
		background-origin: content-box;
		background-clip: content-box;
		padding: 4px;
	}
	
	[data-icon^="ui.inc"][data-count] {
		position: relative;
	}
	
	[data-icon^="ui.inc"][data-count]::before,
	[data-icon^="ui.inc"] .count {
		position: absolute;
		left: 0;
		bottom: 0;
		color: var(--neon-white);
		font-weight: 600;
		font-size: 14px;
		line-height: 1;
		font-stretch: 80%;
		white-space: nowrap;
		filter: drop-shadow(0 0 3px currentColor);
	}
	
	[data-icon^="ui.inc"][data-count]:not([data-count=""]])::before {
		content: attr(data-count);
	}
	
	[data-icon^="ui.inc"][data-inc="extra"]::before,
	[data-icon^="ui.inc"][data-inc="extra"] .count {
		color: var(--neon-blue);
	}
	[data-icon^="ui.inc"][data-inc="speedup"]::before,
	[data-icon^="ui.inc"][data-inc="speedup"] .count {
		color: var(--neon-yellow);
	}
	
	
	[data-new],
	[data-wip] {
		position: relative;
	}
	
	[data-new]::after,
	[data-wip]::after {
		position: absolute;
		top: 0;
		left: 100%;
		padding: 0 6px;
		padding: 2px 6px 1px;
		font-weight: 600;
		font-size: 8px;
		line-height: 1;
		clip-path: polygon(0 4px, 4px 0, 100% 0, 100% calc(100% - 3px), calc(100% - 3px) 100%, 0 100%);
	}
	
	[data-new]::after {
		content: 'NEW';
		background: lch(59 87.3 39.08);
		color: white;
	}
	
	[data-wip]::after {
		content: 'WIP';
		background: lch(86 74.78 84.18);
		color: black;
	}
	
	
}