@layer reset {
	html,
	body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		font-family: 'Helvetica Neue', arial, sans-serif;
		color: #444;
	}
	
	ul, ol, dl, li, dd, dt {
		list-style: none;
	}
	
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	
	summary::marker { content: none; }
	summary::-webkit-details-marker { display: none; }
	input[type="number"] {
		-webkit-appearance: none;
		-moz-appearance: textfield;
		width: 6ch;
		background: none;
		border: none;
		color: inherit;
		font: inherit;
		text-align: right;
	}
	
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
	
	button {
		display: inline-block;
		appearance: none;
		border: none;
		background: none;
		color: inherit;
		font: inherit;
		cursor: pointer;
	}
	
	select {
		padding: 0;
		border: none;
		background: none;
		color: inherit;
		font: inherit;
	}
	
	select, summary {
		cursor: pointer;
	}
	
	dialog {
		margin: auto;
		outline: none;
	}
}