@layer skeleton {
	html {
		background: black;
	}
	
	select {
		background: url('../images/textures/drone-down.svg') calc(100% - 2px) 50% / 1em 1em no-repeat;
		background-color: var(--back-color);
		-moz-appearance: none; 
		-webkit-appearance: none; 
		appearance: none;
		padding: 0.2em calc(0.2em + 1em) 0.2em 0.2em;
		/* height: 30px; 
		width: 100px;
		padding: 5px; */
	}
	
	select:hover {
		background-color: lch(0 0 0 / 0.1);
	}
	
	select * {
		color: black !important;
	}
	
	#app {
		display: grid;
		grid-template-rows: auto minmax(auto, 1fr);
		height: 100%;
		color: #fff;
		font-family: Saira, sans-serif;
		font-weight: 500;
		line-height: 1.4;
	}
	
	pre {
		background: hsl(0deg 0% 0% / 10%);
		tab-size: 3ch;
	}
	
	main {
		padding: 20px 0;
		view-transition-name: main;
	}

	/* ::view-transition-old(root),
	::view-transition-new(root) {
		animation-duration: 200ms;
	} */
	
	/* @keyframes  main-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	} */
	
	@keyframes main-in {
		0% { filter: opacity(0.0) grayscale(0.5) }
		50% { filter: opacity(0.8) grayscale(0.5) }
		100% { filter: opacity(1.0) }
	}
	
	@keyframes main-out {
		0% { filter: opacity(1.0) }
		50% { filter: opacity(0.8) grayscale(0.5) }
		100% { filter: opacity(0.0) grayscale(0.5) }
	}
	
	/* bestagons rendered via https://gist.github.com/Martin-Pitt/efef3417ec4a552e77edc2c962119cd4 */
	@keyframes hex-in {
		0% {
			opacity: 0;
			clip-path: polygon(
				95.93333333333334vmax 86.34vmax,
				95.93333333333334vmax 86.34vmax,
				95.93333333333334vmax 86.34vmax,
				95.93333333333334vmax 86.34vmax,
				95.93333333333334vmax 86.34vmax,
				95.93333333333334vmax 86.34vmax,
				95.93333333333334vmax 86.34vmax,
				0 0,

				83.94166666666666vmax 93.535vmax,
				83.94166666666666vmax 93.535vmax,
				83.94166666666666vmax 93.535vmax,
				83.94166666666666vmax 93.535vmax,
				83.94166666666666vmax 93.535vmax,
				83.94166666666666vmax 93.535vmax,
				83.94166666666666vmax 93.535vmax,
				0 0,

				71.95vmax 86.34vmax,
				71.95vmax 86.34vmax,
				71.95vmax 86.34vmax,
				71.95vmax 86.34vmax,
				71.95vmax 86.34vmax,
				71.95vmax 86.34vmax,
				71.95vmax 86.34vmax,
				0 0,

				59.958333333333336vmax 93.535vmax,
				59.958333333333336vmax 93.535vmax,
				59.958333333333336vmax 93.535vmax,
				59.958333333333336vmax 93.535vmax,
				59.958333333333336vmax 93.535vmax,
				59.958333333333336vmax 93.535vmax,
				59.958333333333336vmax 93.535vmax,
				0 0,

				47.96666666666667vmax 86.34vmax,
				47.96666666666667vmax 86.34vmax,
				47.96666666666667vmax 86.34vmax,
				47.96666666666667vmax 86.34vmax,
				47.96666666666667vmax 86.34vmax,
				47.96666666666667vmax 86.34vmax,
				47.96666666666667vmax 86.34vmax,
				0 0,

				35.975vmax 93.535vmax,
				35.975vmax 93.535vmax,
				35.975vmax 93.535vmax,
				35.975vmax 93.535vmax,
				35.975vmax 93.535vmax,
				35.975vmax 93.535vmax,
				35.975vmax 93.535vmax,
				0 0,

				23.983333333333334vmax 86.34vmax,
				23.983333333333334vmax 86.34vmax,
				23.983333333333334vmax 86.34vmax,
				23.983333333333334vmax 86.34vmax,
				23.983333333333334vmax 86.34vmax,
				23.983333333333334vmax 86.34vmax,
				23.983333333333334vmax 86.34vmax,
				0 0,

				11.991666666666667vmax 93.535vmax,
				11.991666666666667vmax 93.535vmax,
				11.991666666666667vmax 93.535vmax,
				11.991666666666667vmax 93.535vmax,
				11.991666666666667vmax 93.535vmax,
				11.991666666666667vmax 93.535vmax,
				11.991666666666667vmax 93.535vmax,
				0 0,

				0vmax 86.34vmax,
				0vmax 86.34vmax,
				0vmax 86.34vmax,
				0vmax 86.34vmax,
				0vmax 86.34vmax,
				0vmax 86.34vmax,
				0vmax 86.34vmax,
				0 0,

				95.93333333333334vmax 71.95vmax,
				95.93333333333334vmax 71.95vmax,
				95.93333333333334vmax 71.95vmax,
				95.93333333333334vmax 71.95vmax,
				95.93333333333334vmax 71.95vmax,
				95.93333333333334vmax 71.95vmax,
				95.93333333333334vmax 71.95vmax,
				0 0,

				83.94166666666666vmax 79.14500000000001vmax,
				83.94166666666666vmax 79.14500000000001vmax,
				83.94166666666666vmax 79.14500000000001vmax,
				83.94166666666666vmax 79.14500000000001vmax,
				83.94166666666666vmax 79.14500000000001vmax,
				83.94166666666666vmax 79.14500000000001vmax,
				83.94166666666666vmax 79.14500000000001vmax,
				0 0,

				71.95vmax 71.95vmax,
				71.95vmax 71.95vmax,
				71.95vmax 71.95vmax,
				71.95vmax 71.95vmax,
				71.95vmax 71.95vmax,
				71.95vmax 71.95vmax,
				71.95vmax 71.95vmax,
				0 0,

				59.958333333333336vmax 79.14500000000001vmax,
				59.958333333333336vmax 79.14500000000001vmax,
				59.958333333333336vmax 79.14500000000001vmax,
				59.958333333333336vmax 79.14500000000001vmax,
				59.958333333333336vmax 79.14500000000001vmax,
				59.958333333333336vmax 79.14500000000001vmax,
				59.958333333333336vmax 79.14500000000001vmax,
				0 0,

				47.96666666666667vmax 71.95vmax,
				47.96666666666667vmax 71.95vmax,
				47.96666666666667vmax 71.95vmax,
				47.96666666666667vmax 71.95vmax,
				47.96666666666667vmax 71.95vmax,
				47.96666666666667vmax 71.95vmax,
				47.96666666666667vmax 71.95vmax,
				0 0,

				35.975vmax 79.14500000000001vmax,
				35.975vmax 79.14500000000001vmax,
				35.975vmax 79.14500000000001vmax,
				35.975vmax 79.14500000000001vmax,
				35.975vmax 79.14500000000001vmax,
				35.975vmax 79.14500000000001vmax,
				35.975vmax 79.14500000000001vmax,
				0 0,

				23.983333333333334vmax 71.95vmax,
				23.983333333333334vmax 71.95vmax,
				23.983333333333334vmax 71.95vmax,
				23.983333333333334vmax 71.95vmax,
				23.983333333333334vmax 71.95vmax,
				23.983333333333334vmax 71.95vmax,
				23.983333333333334vmax 71.95vmax,
				0 0,

				11.991666666666667vmax 79.14500000000001vmax,
				11.991666666666667vmax 79.14500000000001vmax,
				11.991666666666667vmax 79.14500000000001vmax,
				11.991666666666667vmax 79.14500000000001vmax,
				11.991666666666667vmax 79.14500000000001vmax,
				11.991666666666667vmax 79.14500000000001vmax,
				11.991666666666667vmax 79.14500000000001vmax,
				0 0,

				0vmax 71.95vmax,
				0vmax 71.95vmax,
				0vmax 71.95vmax,
				0vmax 71.95vmax,
				0vmax 71.95vmax,
				0vmax 71.95vmax,
				0vmax 71.95vmax,
				0 0,

				95.93333333333334vmax 57.56vmax,
				95.93333333333334vmax 57.56vmax,
				95.93333333333334vmax 57.56vmax,
				95.93333333333334vmax 57.56vmax,
				95.93333333333334vmax 57.56vmax,
				95.93333333333334vmax 57.56vmax,
				95.93333333333334vmax 57.56vmax,
				0 0,

				83.94166666666666vmax 64.755vmax,
				83.94166666666666vmax 64.755vmax,
				83.94166666666666vmax 64.755vmax,
				83.94166666666666vmax 64.755vmax,
				83.94166666666666vmax 64.755vmax,
				83.94166666666666vmax 64.755vmax,
				83.94166666666666vmax 64.755vmax,
				0 0,

				71.95vmax 57.56vmax,
				71.95vmax 57.56vmax,
				71.95vmax 57.56vmax,
				71.95vmax 57.56vmax,
				71.95vmax 57.56vmax,
				71.95vmax 57.56vmax,
				71.95vmax 57.56vmax,
				0 0,

				59.958333333333336vmax 64.755vmax,
				59.958333333333336vmax 64.755vmax,
				59.958333333333336vmax 64.755vmax,
				59.958333333333336vmax 64.755vmax,
				59.958333333333336vmax 64.755vmax,
				59.958333333333336vmax 64.755vmax,
				59.958333333333336vmax 64.755vmax,
				0 0,

				47.96666666666667vmax 57.56vmax,
				47.96666666666667vmax 57.56vmax,
				47.96666666666667vmax 57.56vmax,
				47.96666666666667vmax 57.56vmax,
				47.96666666666667vmax 57.56vmax,
				47.96666666666667vmax 57.56vmax,
				47.96666666666667vmax 57.56vmax,
				0 0,

				35.975vmax 64.755vmax,
				35.975vmax 64.755vmax,
				35.975vmax 64.755vmax,
				35.975vmax 64.755vmax,
				35.975vmax 64.755vmax,
				35.975vmax 64.755vmax,
				35.975vmax 64.755vmax,
				0 0,

				23.983333333333334vmax 57.56vmax,
				23.983333333333334vmax 57.56vmax,
				23.983333333333334vmax 57.56vmax,
				23.983333333333334vmax 57.56vmax,
				23.983333333333334vmax 57.56vmax,
				23.983333333333334vmax 57.56vmax,
				23.983333333333334vmax 57.56vmax,
				0 0,

				11.991666666666667vmax 64.755vmax,
				11.991666666666667vmax 64.755vmax,
				11.991666666666667vmax 64.755vmax,
				11.991666666666667vmax 64.755vmax,
				11.991666666666667vmax 64.755vmax,
				11.991666666666667vmax 64.755vmax,
				11.991666666666667vmax 64.755vmax,
				0 0,

				0vmax 57.56vmax,
				0vmax 57.56vmax,
				0vmax 57.56vmax,
				0vmax 57.56vmax,
				0vmax 57.56vmax,
				0vmax 57.56vmax,
				0vmax 57.56vmax,
				0 0,

				95.93333333333334vmax 43.17vmax,
				95.93333333333334vmax 43.17vmax,
				95.93333333333334vmax 43.17vmax,
				95.93333333333334vmax 43.17vmax,
				95.93333333333334vmax 43.17vmax,
				95.93333333333334vmax 43.17vmax,
				95.93333333333334vmax 43.17vmax,
				0 0,

				83.94166666666666vmax 50.365vmax,
				83.94166666666666vmax 50.365vmax,
				83.94166666666666vmax 50.365vmax,
				83.94166666666666vmax 50.365vmax,
				83.94166666666666vmax 50.365vmax,
				83.94166666666666vmax 50.365vmax,
				83.94166666666666vmax 50.365vmax,
				0 0,

				71.95vmax 43.17vmax,
				71.95vmax 43.17vmax,
				71.95vmax 43.17vmax,
				71.95vmax 43.17vmax,
				71.95vmax 43.17vmax,
				71.95vmax 43.17vmax,
				71.95vmax 43.17vmax,
				0 0,

				59.958333333333336vmax 50.365vmax,
				59.958333333333336vmax 50.365vmax,
				59.958333333333336vmax 50.365vmax,
				59.958333333333336vmax 50.365vmax,
				59.958333333333336vmax 50.365vmax,
				59.958333333333336vmax 50.365vmax,
				59.958333333333336vmax 50.365vmax,
				0 0,

				47.96666666666667vmax 43.17vmax,
				47.96666666666667vmax 43.17vmax,
				47.96666666666667vmax 43.17vmax,
				47.96666666666667vmax 43.17vmax,
				47.96666666666667vmax 43.17vmax,
				47.96666666666667vmax 43.17vmax,
				47.96666666666667vmax 43.17vmax,
				0 0,

				35.975vmax 50.365vmax,
				35.975vmax 50.365vmax,
				35.975vmax 50.365vmax,
				35.975vmax 50.365vmax,
				35.975vmax 50.365vmax,
				35.975vmax 50.365vmax,
				35.975vmax 50.365vmax,
				0 0,

				23.983333333333334vmax 43.17vmax,
				23.983333333333334vmax 43.17vmax,
				23.983333333333334vmax 43.17vmax,
				23.983333333333334vmax 43.17vmax,
				23.983333333333334vmax 43.17vmax,
				23.983333333333334vmax 43.17vmax,
				23.983333333333334vmax 43.17vmax,
				0 0,

				11.991666666666667vmax 50.365vmax,
				11.991666666666667vmax 50.365vmax,
				11.991666666666667vmax 50.365vmax,
				11.991666666666667vmax 50.365vmax,
				11.991666666666667vmax 50.365vmax,
				11.991666666666667vmax 50.365vmax,
				11.991666666666667vmax 50.365vmax,
				0 0,

				0vmax 43.17vmax,
				0vmax 43.17vmax,
				0vmax 43.17vmax,
				0vmax 43.17vmax,
				0vmax 43.17vmax,
				0vmax 43.17vmax,
				0vmax 43.17vmax,
				0 0,

				95.93333333333334vmax 28.78vmax,
				95.93333333333334vmax 28.78vmax,
				95.93333333333334vmax 28.78vmax,
				95.93333333333334vmax 28.78vmax,
				95.93333333333334vmax 28.78vmax,
				95.93333333333334vmax 28.78vmax,
				95.93333333333334vmax 28.78vmax,
				0 0,

				83.94166666666666vmax 35.975vmax,
				83.94166666666666vmax 35.975vmax,
				83.94166666666666vmax 35.975vmax,
				83.94166666666666vmax 35.975vmax,
				83.94166666666666vmax 35.975vmax,
				83.94166666666666vmax 35.975vmax,
				83.94166666666666vmax 35.975vmax,
				0 0,

				71.95vmax 28.78vmax,
				71.95vmax 28.78vmax,
				71.95vmax 28.78vmax,
				71.95vmax 28.78vmax,
				71.95vmax 28.78vmax,
				71.95vmax 28.78vmax,
				71.95vmax 28.78vmax,
				0 0,

				59.958333333333336vmax 35.975vmax,
				59.958333333333336vmax 35.975vmax,
				59.958333333333336vmax 35.975vmax,
				59.958333333333336vmax 35.975vmax,
				59.958333333333336vmax 35.975vmax,
				59.958333333333336vmax 35.975vmax,
				59.958333333333336vmax 35.975vmax,
				0 0,

				47.96666666666667vmax 28.78vmax,
				47.96666666666667vmax 28.78vmax,
				47.96666666666667vmax 28.78vmax,
				47.96666666666667vmax 28.78vmax,
				47.96666666666667vmax 28.78vmax,
				47.96666666666667vmax 28.78vmax,
				47.96666666666667vmax 28.78vmax,
				0 0,

				35.975vmax 35.975vmax,
				35.975vmax 35.975vmax,
				35.975vmax 35.975vmax,
				35.975vmax 35.975vmax,
				35.975vmax 35.975vmax,
				35.975vmax 35.975vmax,
				35.975vmax 35.975vmax,
				0 0,

				23.983333333333334vmax 28.78vmax,
				23.983333333333334vmax 28.78vmax,
				23.983333333333334vmax 28.78vmax,
				23.983333333333334vmax 28.78vmax,
				23.983333333333334vmax 28.78vmax,
				23.983333333333334vmax 28.78vmax,
				23.983333333333334vmax 28.78vmax,
				0 0,

				11.991666666666667vmax 35.975vmax,
				11.991666666666667vmax 35.975vmax,
				11.991666666666667vmax 35.975vmax,
				11.991666666666667vmax 35.975vmax,
				11.991666666666667vmax 35.975vmax,
				11.991666666666667vmax 35.975vmax,
				11.991666666666667vmax 35.975vmax,
				0 0,

				0vmax 28.78vmax,
				0vmax 28.78vmax,
				0vmax 28.78vmax,
				0vmax 28.78vmax,
				0vmax 28.78vmax,
				0vmax 28.78vmax,
				0vmax 28.78vmax,
				0 0,

				95.93333333333334vmax 14.39vmax,
				95.93333333333334vmax 14.39vmax,
				95.93333333333334vmax 14.39vmax,
				95.93333333333334vmax 14.39vmax,
				95.93333333333334vmax 14.39vmax,
				95.93333333333334vmax 14.39vmax,
				95.93333333333334vmax 14.39vmax,
				0 0,

				83.94166666666666vmax 21.585vmax,
				83.94166666666666vmax 21.585vmax,
				83.94166666666666vmax 21.585vmax,
				83.94166666666666vmax 21.585vmax,
				83.94166666666666vmax 21.585vmax,
				83.94166666666666vmax 21.585vmax,
				83.94166666666666vmax 21.585vmax,
				0 0,

				71.95vmax 14.39vmax,
				71.95vmax 14.39vmax,
				71.95vmax 14.39vmax,
				71.95vmax 14.39vmax,
				71.95vmax 14.39vmax,
				71.95vmax 14.39vmax,
				71.95vmax 14.39vmax,
				0 0,

				59.958333333333336vmax 21.585vmax,
				59.958333333333336vmax 21.585vmax,
				59.958333333333336vmax 21.585vmax,
				59.958333333333336vmax 21.585vmax,
				59.958333333333336vmax 21.585vmax,
				59.958333333333336vmax 21.585vmax,
				59.958333333333336vmax 21.585vmax,
				0 0,

				47.96666666666667vmax 14.39vmax,
				47.96666666666667vmax 14.39vmax,
				47.96666666666667vmax 14.39vmax,
				47.96666666666667vmax 14.39vmax,
				47.96666666666667vmax 14.39vmax,
				47.96666666666667vmax 14.39vmax,
				47.96666666666667vmax 14.39vmax,
				0 0,

				35.975vmax 21.585vmax,
				35.975vmax 21.585vmax,
				35.975vmax 21.585vmax,
				35.975vmax 21.585vmax,
				35.975vmax 21.585vmax,
				35.975vmax 21.585vmax,
				35.975vmax 21.585vmax,
				0 0,

				23.983333333333334vmax 14.39vmax,
				23.983333333333334vmax 14.39vmax,
				23.983333333333334vmax 14.39vmax,
				23.983333333333334vmax 14.39vmax,
				23.983333333333334vmax 14.39vmax,
				23.983333333333334vmax 14.39vmax,
				23.983333333333334vmax 14.39vmax,
				0 0,

				11.991666666666667vmax 21.585vmax,
				11.991666666666667vmax 21.585vmax,
				11.991666666666667vmax 21.585vmax,
				11.991666666666667vmax 21.585vmax,
				11.991666666666667vmax 21.585vmax,
				11.991666666666667vmax 21.585vmax,
				11.991666666666667vmax 21.585vmax,
				0 0,

				0vmax 14.39vmax,
				0vmax 14.39vmax,
				0vmax 14.39vmax,
				0vmax 14.39vmax,
				0vmax 14.39vmax,
				0vmax 14.39vmax,
				0vmax 14.39vmax,
				0 0,

				95.93333333333334vmax 0vmax,
				95.93333333333334vmax 0vmax,
				95.93333333333334vmax 0vmax,
				95.93333333333334vmax 0vmax,
				95.93333333333334vmax 0vmax,
				95.93333333333334vmax 0vmax,
				95.93333333333334vmax 0vmax,
				0 0,

				83.94166666666666vmax 7.195vmax,
				83.94166666666666vmax 7.195vmax,
				83.94166666666666vmax 7.195vmax,
				83.94166666666666vmax 7.195vmax,
				83.94166666666666vmax 7.195vmax,
				83.94166666666666vmax 7.195vmax,
				83.94166666666666vmax 7.195vmax,
				0 0,

				71.95vmax 0vmax,
				71.95vmax 0vmax,
				71.95vmax 0vmax,
				71.95vmax 0vmax,
				71.95vmax 0vmax,
				71.95vmax 0vmax,
				71.95vmax 0vmax,
				0 0,

				59.958333333333336vmax 7.195vmax,
				59.958333333333336vmax 7.195vmax,
				59.958333333333336vmax 7.195vmax,
				59.958333333333336vmax 7.195vmax,
				59.958333333333336vmax 7.195vmax,
				59.958333333333336vmax 7.195vmax,
				59.958333333333336vmax 7.195vmax,
				0 0,

				47.96666666666667vmax 0vmax,
				47.96666666666667vmax 0vmax,
				47.96666666666667vmax 0vmax,
				47.96666666666667vmax 0vmax,
				47.96666666666667vmax 0vmax,
				47.96666666666667vmax 0vmax,
				47.96666666666667vmax 0vmax,
				0 0,

				35.975vmax 7.195vmax,
				35.975vmax 7.195vmax,
				35.975vmax 7.195vmax,
				35.975vmax 7.195vmax,
				35.975vmax 7.195vmax,
				35.975vmax 7.195vmax,
				35.975vmax 7.195vmax,
				0 0,

				23.983333333333334vmax 0vmax,
				23.983333333333334vmax 0vmax,
				23.983333333333334vmax 0vmax,
				23.983333333333334vmax 0vmax,
				23.983333333333334vmax 0vmax,
				23.983333333333334vmax 0vmax,
				23.983333333333334vmax 0vmax,
				0 0,

				11.991666666666667vmax 7.195vmax,
				11.991666666666667vmax 7.195vmax,
				11.991666666666667vmax 7.195vmax,
				11.991666666666667vmax 7.195vmax,
				11.991666666666667vmax 7.195vmax,
				11.991666666666667vmax 7.195vmax,
				11.991666666666667vmax 7.195vmax,
				0 0,

				0vmax 0vmax,
				0vmax 0vmax,
				0vmax 0vmax,
				0vmax 0vmax,
				0vmax 0vmax,
				0vmax 0vmax,
				0vmax 0vmax,
				0 0
			);
		}
		40% {
			opacity: 0.4;
			clip-path: polygon(
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 86.34vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 86.34vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 86.34vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 93.535vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 93.535vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 93.535vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 86.34vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 86.34vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 86.34vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 93.535vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 93.535vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 93.535vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 86.34vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 86.34vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 86.34vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 93.535vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 93.535vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 93.535vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 86.34vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 86.34vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 86.34vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 93.535vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(93.535vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 93.535vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(93.535vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 93.535vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 86.34vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(86.34vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 86.34vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(86.34vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 86.34vmax,
				0 0,

				calc(95.93333333333334vmax + -7.9944444444444445vmax) 71.95vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 71.95vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 71.95vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 79.14500000000001vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 71.95vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 71.95vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 71.95vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 79.14500000000001vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 71.95vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 71.95vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 71.95vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 79.14500000000001vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 71.95vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 71.95vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 71.95vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 79.14500000000001vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(79.14500000000001vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 79.14500000000001vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 71.95vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(71.95vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 71.95vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(71.95vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 71.95vmax,
				0 0,

				calc(95.93333333333334vmax + -7.9944444444444445vmax) 57.56vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 57.56vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 57.56vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 64.755vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 64.755vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 64.755vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 57.56vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 57.56vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 57.56vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 64.755vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 64.755vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 64.755vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 57.56vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 57.56vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 57.56vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 64.755vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 64.755vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 64.755vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 57.56vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 57.56vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 57.56vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 64.755vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(64.755vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 64.755vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(64.755vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 64.755vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 57.56vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(57.56vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 57.56vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(57.56vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 57.56vmax,
				0 0,

				calc(95.93333333333334vmax + -7.9944444444444445vmax) 43.17vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 43.17vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 43.17vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 50.365vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 50.365vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 50.365vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 43.17vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 43.17vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 43.17vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 50.365vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 50.365vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 50.365vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 43.17vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 43.17vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 43.17vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 50.365vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 50.365vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 50.365vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 43.17vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 43.17vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 43.17vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 50.365vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(50.365vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 50.365vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(50.365vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 50.365vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 43.17vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(43.17vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 43.17vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(43.17vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 43.17vmax,
				0 0,

				calc(95.93333333333334vmax + -7.9944444444444445vmax) 28.78vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 28.78vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 28.78vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 35.975vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 35.975vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 35.975vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 28.78vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 28.78vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 28.78vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 35.975vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 35.975vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 35.975vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 28.78vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 28.78vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 28.78vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 35.975vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 35.975vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 35.975vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 28.78vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 28.78vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 28.78vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 35.975vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(35.975vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 35.975vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(35.975vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 35.975vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 28.78vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(28.78vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 28.78vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(28.78vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 28.78vmax,
				0 0,

				calc(95.93333333333334vmax + -7.9944444444444445vmax) 14.39vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 14.39vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 14.39vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 21.585vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 21.585vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 21.585vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 14.39vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 14.39vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 14.39vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 21.585vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 21.585vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 21.585vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 14.39vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 14.39vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 14.39vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 21.585vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 21.585vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 21.585vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 14.39vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 14.39vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 14.39vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 21.585vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(21.585vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 21.585vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(21.585vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 21.585vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 14.39vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(14.39vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 14.39vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(14.39vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 14.39vmax,
				0 0,

				calc(95.93333333333334vmax + -7.9944444444444445vmax) 0vmax,
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(95.93333333333334vmax + 7.9944444444444445vmax) 0vmax,
				calc(95.93333333333334vmax + 3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(95.93333333333334vmax + -3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(95.93333333333334vmax + -7.9944444444444445vmax) 0vmax,
				0 0,

				calc(83.94166666666666vmax + -7.9944444444444445vmax) 7.195vmax,
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(83.94166666666666vmax + 7.9944444444444445vmax) 7.195vmax,
				calc(83.94166666666666vmax + 3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(83.94166666666666vmax + -3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(83.94166666666666vmax + -7.9944444444444445vmax) 7.195vmax,
				0 0,

				calc(71.95vmax + -7.9944444444444445vmax) 0vmax,
				calc(71.95vmax + -3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(71.95vmax + 3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(71.95vmax + 7.9944444444444445vmax) 0vmax,
				calc(71.95vmax + 3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(71.95vmax + -3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(71.95vmax + -7.9944444444444445vmax) 0vmax,
				0 0,

				calc(59.958333333333336vmax + -7.9944444444444445vmax) 7.195vmax,
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(59.958333333333336vmax + 7.9944444444444445vmax) 7.195vmax,
				calc(59.958333333333336vmax + 3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(59.958333333333336vmax + -3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(59.958333333333336vmax + -7.9944444444444445vmax) 7.195vmax,
				0 0,

				calc(47.96666666666667vmax + -7.9944444444444445vmax) 0vmax,
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(47.96666666666667vmax + 7.9944444444444445vmax) 0vmax,
				calc(47.96666666666667vmax + 3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(47.96666666666667vmax + -3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(47.96666666666667vmax + -7.9944444444444445vmax) 0vmax,
				0 0,

				calc(35.975vmax + -7.9944444444444445vmax) 7.195vmax,
				calc(35.975vmax + -3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(35.975vmax + 3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(35.975vmax + 7.9944444444444445vmax) 7.195vmax,
				calc(35.975vmax + 3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(35.975vmax + -3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(35.975vmax + -7.9944444444444445vmax) 7.195vmax,
				0 0,

				calc(23.983333333333334vmax + -7.9944444444444445vmax) 0vmax,
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(23.983333333333334vmax + 7.9944444444444445vmax) 0vmax,
				calc(23.983333333333334vmax + 3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(23.983333333333334vmax + -3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(23.983333333333334vmax + -7.9944444444444445vmax) 0vmax,
				0 0,

				calc(11.991666666666667vmax + -7.9944444444444445vmax) 7.195vmax,
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(7.195vmax + -7.195vmax),
				calc(11.991666666666667vmax + 7.9944444444444445vmax) 7.195vmax,
				calc(11.991666666666667vmax + 3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(11.991666666666667vmax + -3.9972222222222222vmax) calc(7.195vmax + 7.195vmax),
				calc(11.991666666666667vmax + -7.9944444444444445vmax) 7.195vmax,
				0 0,

				calc(0vmax + -7.9944444444444445vmax) 0vmax,
				calc(0vmax + -3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(0vmax + 3.9972222222222222vmax) calc(0vmax + -7.195vmax),
				calc(0vmax + 7.9944444444444445vmax) 0vmax,
				calc(0vmax + 3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(0vmax + -3.9972222222222222vmax) calc(0vmax + 7.195vmax),
				calc(0vmax + -7.9944444444444445vmax) 0vmax,
				0 0
			);
		}
		100% {
			opacity: 1;
		}
	}
	
	@keyframes main-to-left {
		to { transform: translateX(-100px); opacity: 0; }
	}
	
	@keyframes main-to-right {
		to { transform: translateX(100px); opacity: 0; }
	}
	
	@keyframes main-from-left {
		from { transform: translateX(-100px); opacity: 0; }
	}
	
	@keyframes main-from-right {
		from { transform: translateX(100px); opacity: 0; }
	}
	
	html::view-transition-old(main) {
		animation: none;
		/* animation: main-out 200ms linear both; */
	}
	
	html::view-transition-new(main) {
		animation: main-in 200ms 50ms linear both;
	}
	
	
	html.view-left::view-transition-old(main) {
		/* animation: main-to-right 200ms cubic-bezier(0.71, -0.01, 0.85, -0.09) both; */
	}
	
	html.view-right::view-transition-old(main) {
		/* animation: main-to-left 200ms cubic-bezier(0.71, -0.01, 0.85, -0.09) both; */
	}
	
	html.view-left::view-transition-new(main) {
		animation: main-from-left 200ms 50ms cubic-bezier(0, 0.76, 0.27, 1) both, main-in 200ms 50ms linear both;
	}
	
	html.view-right::view-transition-new(main) {
		animation: main-from-right 200ms 50ms cubic-bezier(0, 0.76, 0.27, 1) both, main-in 200ms 50ms linear both;
	}
}