@layer skeleton {
	.byproduct:not(:hover) :is(.perMinute, .item) {
		filter: contrast(0.5);
		opacity: 0.5;
	}

	.item {
		color: white;
	}

	.perMinute {
		display: inline-block;
		min-width: 5ch;
		text-align: right;
		color: hsl(0deg 69.91% 77.84%);
	}

	.factor {
		color: hsl(0deg 69.91% 77.84%);
	}

	.process {
		display: none;
		color: hsl(338.6deg 81.13% 68.82% / 37%);
	}
}