
@layer icons {
	[data-icon^="item"],
	[data-icon^="recipe"],
	[data-icon^="tech"] {
		width: 80px;
		aspect-ratio: 1;
	}
	[data-icon^="item"],
	[data-icon^="recipe"] {
		background: url('./icons-item-recipes.webp') top left / 1400% auto no-repeat;
		background-image: -webkit-image-set(
			url('./icons-item-recipes.webp') type('image/webp'),
			url('./icons-item-recipes.avif') type('image/avif')
		);
		background-image: image-set(
			url('./icons-item-recipes.webp') type('image/webp'),
			url('./icons-item-recipes.avif') type('image/avif')
		);
	}
	[data-icon^="tech"] {
		background: url('./icons-tech.webp') top left / 1800% auto no-repeat;
		background-image: -webkit-image-set(
			url('./icons-tech.webp') type('image/webp'),
			url('./icons-tech.avif') type('image/avif')
		);
		background-image: image-set(
			url('./icons-tech.webp') type('image/webp'),
			url('./icons-tech.avif') type('image/avif')
		);
	}
	[data-icon="item.1001"] { background-position: 0% 0%; }
	[data-icon="item.1002"] { background-position: 7.6923076923076925% 0%; }
	[data-icon="item.1003"] { background-position: 15.384615384615385% 0%; }
	[data-icon="item.1004"] { background-position: 23.076923076923077% 0%; }
	[data-icon="item.1005"] { background-position: 30.76923076923077% 0%; }
	[data-icon="item.1006"] { background-position: 38.46153846153846% 0%; }
	[data-icon="item.1030"] { background-position: 46.15384615384615% 0%; }
	[data-icon="item.1031"] { background-position: 53.84615384615385% 0%; }
	[data-icon="item.1011"] { background-position: 61.53846153846154% 0%; }
	[data-icon="item.1012"] { background-position: 69.23076923076923% 0%; }
	[data-icon="item.1013"] { background-position: 76.92307692307692% 0%; }
	[data-icon="item.1014"] { background-position: 84.61538461538461% 0%; }
	[data-icon="item.1015"] { background-position: 92.3076923076923% 0%; }
	[data-icon="item.1016"] { background-position: 100% 0%; }
	[data-icon="item.1101"] { background-position: 0% 7.6923076923076925%; }
	[data-icon="item.1104"] { background-position: 7.6923076923076925% 7.6923076923076925%; }
	[data-icon="item.1105"] { background-position: 15.384615384615385% 7.6923076923076925%; }
	[data-icon="item.1106"] { background-position: 23.076923076923077% 7.6923076923076925%; }
	[data-icon="item.1108"] { background-position: 30.76923076923077% 7.6923076923076925%; }
	[data-icon="item.1109"] { background-position: 38.46153846153846% 7.6923076923076925%; }
	[data-icon="item.1103"] { background-position: 46.15384615384615% 7.6923076923076925%; }
	[data-icon="item.1107"] { background-position: 53.84615384615385% 7.6923076923076925%; }
	[data-icon="item.1110"] { background-position: 61.53846153846154% 7.6923076923076925%; }
	[data-icon="item.1119"] { background-position: 69.23076923076923% 7.6923076923076925%; }
	[data-icon="item.1111"] { background-position: 76.92307692307692% 7.6923076923076925%; }
	[data-icon="item.1112"] { background-position: 84.61538461538461% 7.6923076923076925%; }
	[data-icon="item.1113"] { background-position: 92.3076923076923% 7.6923076923076925%; }
	[data-icon="item.1201"] { background-position: 100% 7.6923076923076925%; }
	[data-icon="item.1102"] { background-position: 0% 15.384615384615385%; }
	[data-icon="item.1202"] { background-position: 7.6923076923076925% 15.384615384615385%; }
	[data-icon="item.1203"] { background-position: 15.384615384615385% 15.384615384615385%; }
	[data-icon="item.1204"] { background-position: 23.076923076923077% 15.384615384615385%; }
	[data-icon="item.1205"] { background-position: 30.76923076923077% 15.384615384615385%; }
	[data-icon="item.1206"] { background-position: 38.46153846153846% 15.384615384615385%; }
	[data-icon="item.1127"] { background-position: 46.15384615384615% 15.384615384615385%; }
	[data-icon="item.1301"] { background-position: 53.84615384615385% 15.384615384615385%; }
	[data-icon="item.1303"] { background-position: 61.53846153846154% 15.384615384615385%; }
	[data-icon="item.1305"] { background-position: 69.23076923076923% 15.384615384615385%; }
	[data-icon="item.1302"] { background-position: 76.92307692307692% 15.384615384615385%; }
	[data-icon="item.1304"] { background-position: 84.61538461538461% 15.384615384615385%; }
	[data-icon="item.1402"] { background-position: 92.3076923076923% 15.384615384615385%; }
	[data-icon="item.1401"] { background-position: 100% 15.384615384615385%; }
	[data-icon="item.1404"] { background-position: 0% 23.076923076923077%; }
	[data-icon="item.1501"] { background-position: 7.6923076923076925% 23.076923076923077%; }
	[data-icon="item.1000"] { background-position: 15.384615384615385% 23.076923076923077%; }
	[data-icon="item.1007"] { background-position: 23.076923076923077% 23.076923076923077%; }
	[data-icon="item.1114"] { background-position: 30.76923076923077% 23.076923076923077%; }
	[data-icon="item.1116"] { background-position: 38.46153846153846% 23.076923076923077%; }
	[data-icon="item.1120"] { background-position: 46.15384615384615% 23.076923076923077%; }
	[data-icon="item.1121"] { background-position: 53.84615384615385% 23.076923076923077%; }
	[data-icon="item.1122"] { background-position: 61.53846153846154% 23.076923076923077%; }
	[data-icon="item.1208"] { background-position: 69.23076923076923% 23.076923076923077%; }
	[data-icon="item.1801"] { background-position: 76.92307692307692% 23.076923076923077%; }
	[data-icon="item.1802"] { background-position: 84.61538461538461% 23.076923076923077%; }
	[data-icon="item.1803"] { background-position: 92.3076923076923% 23.076923076923077%; }
	[data-icon="item.1804"] { background-position: 100% 23.076923076923077%; }
	[data-icon="item.1115"] { background-position: 0% 30.76923076923077%; }
	[data-icon="item.1123"] { background-position: 7.6923076923076925% 30.76923076923077%; }
	[data-icon="item.1124"] { background-position: 15.384615384615385% 30.76923076923077%; }
	[data-icon="item.1117"] { background-position: 23.076923076923077% 30.76923076923077%; }
	[data-icon="item.1118"] { background-position: 30.76923076923077% 30.76923076923077%; }
	[data-icon="item.1126"] { background-position: 38.46153846153846% 30.76923076923077%; }
	[data-icon="item.1128"] { background-position: 46.15384615384615% 30.76923076923077%; }
	[data-icon="item.1129"] { background-position: 53.84615384615385% 30.76923076923077%; }
	[data-icon="item.1130"] { background-position: 61.53846153846154% 30.76923076923077%; }
	[data-icon="item.1209"] { background-position: 69.23076923076923% 30.76923076923077%; }
	[data-icon="item.1210"] { background-position: 76.92307692307692% 30.76923076923077%; }
	[data-icon="item.1403"] { background-position: 84.61538461538461% 30.76923076923077%; }
	[data-icon="item.1407"] { background-position: 92.3076923076923% 30.76923076923077%; }
	[data-icon="item.1405"] { background-position: 100% 30.76923076923077%; }
	[data-icon="item.1406"] { background-position: 0% 38.46153846153846%; }
	[data-icon="item.5003"] { background-position: 7.6923076923076925% 38.46153846153846%; }
	[data-icon="item.5001"] { background-position: 15.384615384615385% 38.46153846153846%; }
	[data-icon="item.5002"] { background-position: 23.076923076923077% 38.46153846153846%; }
	[data-icon="item.1125"] { background-position: 30.76923076923077% 38.46153846153846%; }
	[data-icon="item.1502"] { background-position: 38.46153846153846% 38.46153846153846%; }
	[data-icon="item.1503"] { background-position: 46.15384615384615% 38.46153846153846%; }
	[data-icon="item.1131"] { background-position: 53.84615384615385% 38.46153846153846%; }
	[data-icon="item.1141"] { background-position: 61.53846153846154% 38.46153846153846%; }
	[data-icon="item.1142"] { background-position: 69.23076923076923% 38.46153846153846%; }
	[data-icon="item.1143"] { background-position: 76.92307692307692% 38.46153846153846%; }
	[data-icon="item.1601"] { background-position: 84.61538461538461% 38.46153846153846%; }
	[data-icon="item.1602"] { background-position: 92.3076923076923% 38.46153846153846%; }
	[data-icon="item.1603"] { background-position: 100% 38.46153846153846%; }
	[data-icon="item.1604"] { background-position: 0% 46.15384615384615%; }
	[data-icon="item.1605"] { background-position: 7.6923076923076925% 46.15384615384615%; }
	[data-icon="item.1606"] { background-position: 15.384615384615385% 46.15384615384615%; }
	[data-icon="item.1607"] { background-position: 23.076923076923077% 46.15384615384615%; }
	[data-icon="item.1608"] { background-position: 30.76923076923077% 46.15384615384615%; }
	[data-icon="item.1609"] { background-position: 38.46153846153846% 46.15384615384615%; }
	[data-icon="item.1610"] { background-position: 46.15384615384615% 46.15384615384615%; }
	[data-icon="item.1611"] { background-position: 53.84615384615385% 46.15384615384615%; }
	[data-icon="item.1612"] { background-position: 61.53846153846154% 46.15384615384615%; }
	[data-icon="item.1613"] { background-position: 69.23076923076923% 46.15384615384615%; }
	[data-icon="item.5101"] { background-position: 76.92307692307692% 46.15384615384615%; }
	[data-icon="item.5102"] { background-position: 84.61538461538461% 46.15384615384615%; }
	[data-icon="item.5103"] { background-position: 92.3076923076923% 46.15384615384615%; }
	[data-icon="item.5111"] { background-position: 100% 46.15384615384615%; }
	[data-icon="item.5112"] { background-position: 0% 53.84615384615385%; }
	[data-icon="item.5201"] { background-position: 7.6923076923076925% 53.84615384615385%; }
	[data-icon="item.5202"] { background-position: 15.384615384615385% 53.84615384615385%; }
	[data-icon="item.5203"] { background-position: 23.076923076923077% 53.84615384615385%; }
	[data-icon="item.5204"] { background-position: 30.76923076923077% 53.84615384615385%; }
	[data-icon="item.5205"] { background-position: 38.46153846153846% 53.84615384615385%; }
	[data-icon="item.5206"] { background-position: 46.15384615384615% 53.84615384615385%; }
	[data-icon="item.2001"] { background-position: 53.84615384615385% 53.84615384615385%; }
	[data-icon="item.2002"] { background-position: 61.53846153846154% 53.84615384615385%; }
	[data-icon="item.2003"] { background-position: 69.23076923076923% 53.84615384615385%; }
	[data-icon="item.2011"] { background-position: 76.92307692307692% 53.84615384615385%; }
	[data-icon="item.2012"] { background-position: 84.61538461538461% 53.84615384615385%; }
	[data-icon="item.2013"] { background-position: 92.3076923076923% 53.84615384615385%; }
	[data-icon="item.2014"] { background-position: 100% 53.84615384615385%; }
	[data-icon="item.2020"] { background-position: 0% 61.53846153846154%; }
	[data-icon="item.2040"] { background-position: 7.6923076923076925% 61.53846153846154%; }
	[data-icon="item.2030"] { background-position: 15.384615384615385% 61.53846153846154%; }
	[data-icon="item.2313"] { background-position: 23.076923076923077% 61.53846153846154%; }
	[data-icon="item.2107"] { background-position: 30.76923076923077% 61.53846153846154%; }
	[data-icon="item.2101"] { background-position: 38.46153846153846% 61.53846153846154%; }
	[data-icon="item.2102"] { background-position: 46.15384615384615% 61.53846153846154%; }
	[data-icon="item.2106"] { background-position: 53.84615384615385% 61.53846153846154%; }
	[data-icon="item.2303"] { background-position: 61.53846153846154% 61.53846153846154%; }
	[data-icon="item.2304"] { background-position: 69.23076923076923% 61.53846153846154%; }
	[data-icon="item.2305"] { background-position: 76.92307692307692% 61.53846153846154%; }
	[data-icon="item.2318"] { background-position: 84.61538461538461% 61.53846153846154%; }
	[data-icon="item.2201"] { background-position: 92.3076923076923% 61.53846153846154%; }
	[data-icon="item.2202"] { background-position: 100% 61.53846153846154%; }
	[data-icon="item.2212"] { background-position: 0% 69.23076923076923%; }
	[data-icon="item.2203"] { background-position: 7.6923076923076925% 69.23076923076923%; }
	[data-icon="item.2204"] { background-position: 15.384615384615385% 69.23076923076923%; }
	[data-icon="item.2211"] { background-position: 23.076923076923077% 69.23076923076923%; }
	[data-icon="item.2213"] { background-position: 30.76923076923077% 69.23076923076923%; }
	[data-icon="item.2301"] { background-position: 38.46153846153846% 69.23076923076923%; }
	[data-icon="item.2316"] { background-position: 46.15384615384615% 69.23076923076923%; }
	[data-icon="item.2306"] { background-position: 53.84615384615385% 69.23076923076923%; }
	[data-icon="item.2302"] { background-position: 61.53846153846154% 69.23076923076923%; }
	[data-icon="item.2315"] { background-position: 69.23076923076923% 69.23076923076923%; }
	[data-icon="item.2319"] { background-position: 76.92307692307692% 69.23076923076923%; }
	[data-icon="item.2307"] { background-position: 84.61538461538461% 69.23076923076923%; }
	[data-icon="item.2308"] { background-position: 92.3076923076923% 69.23076923076923%; }
	[data-icon="item.2309"] { background-position: 100% 69.23076923076923%; }
	[data-icon="item.2317"] { background-position: 0% 76.92307692307692%; }
	[data-icon="item.2314"] { background-position: 7.6923076923076925% 76.92307692307692%; }
	[data-icon="item.2205"] { background-position: 15.384615384615385% 76.92307692307692%; }
	[data-icon="item.2206"] { background-position: 23.076923076923077% 76.92307692307692%; }
	[data-icon="item.2207"] { background-position: 30.76923076923077% 76.92307692307692%; }
	[data-icon="item.2311"] { background-position: 38.46153846153846% 76.92307692307692%; }
	[data-icon="item.2208"] { background-position: 46.15384615384615% 76.92307692307692%; }
	[data-icon="item.2312"] { background-position: 53.84615384615385% 76.92307692307692%; }
	[data-icon="item.2209"] { background-position: 61.53846153846154% 76.92307692307692%; }
	[data-icon="item.2310"] { background-position: 69.23076923076923% 76.92307692307692%; }
	[data-icon="item.2210"] { background-position: 76.92307692307692% 76.92307692307692%; }
	[data-icon="item.2103"] { background-position: 84.61538461538461% 76.92307692307692%; }
	[data-icon="item.2104"] { background-position: 92.3076923076923% 76.92307692307692%; }
	[data-icon="item.2105"] { background-position: 100% 76.92307692307692%; }
	[data-icon="item.2901"] { background-position: 0% 84.61538461538461%; }
	[data-icon="item.2902"] { background-position: 7.6923076923076925% 84.61538461538461%; }
	[data-icon="item.3001"] { background-position: 15.384615384615385% 84.61538461538461%; }
	[data-icon="item.3002"] { background-position: 23.076923076923077% 84.61538461538461%; }
	[data-icon="item.3003"] { background-position: 30.76923076923077% 84.61538461538461%; }
	[data-icon="item.3004"] { background-position: 38.46153846153846% 84.61538461538461%; }
	[data-icon="item.3005"] { background-position: 46.15384615384615% 84.61538461538461%; }
	[data-icon="item.3006"] { background-position: 53.84615384615385% 84.61538461538461%; }
	[data-icon="item.3007"] { background-position: 61.53846153846154% 84.61538461538461%; }
	[data-icon="item.3008"] { background-position: 69.23076923076923% 84.61538461538461%; }
	[data-icon="item.3009"] { background-position: 76.92307692307692% 84.61538461538461%; }
	[data-icon="item.3010"] { background-position: 84.61538461538461% 84.61538461538461%; }
	[data-icon="item.6001"] { background-position: 92.3076923076923% 84.61538461538461%; }
	[data-icon="item.6002"] { background-position: 100% 84.61538461538461%; }
	[data-icon="item.6003"] { background-position: 0% 92.3076923076923%; }
	[data-icon="item.6004"] { background-position: 7.6923076923076925% 92.3076923076923%; }
	[data-icon="item.6005"] { background-position: 15.384615384615385% 92.3076923076923%; }
	[data-icon="item.6006"] { background-position: 23.076923076923077% 92.3076923076923%; }
	[data-icon="recipe.16"] { background-position: 30.76923076923077% 92.3076923076923%; }
	[data-icon="recipe.29"] { background-position: 38.46153846153846% 92.3076923076923%; }
	[data-icon="recipe.32"] { background-position: 46.15384615384615% 92.3076923076923%; }
	[data-icon="recipe.35"] { background-position: 53.84615384615385% 92.3076923076923%; }
	[data-icon="recipe.54"] { background-position: 61.53846153846154% 92.3076923076923%; }
	[data-icon="recipe.58"] { background-position: 69.23076923076923% 92.3076923076923%; }
	[data-icon="recipe.61"] { background-position: 76.92307692307692% 92.3076923076923%; }
	[data-icon="recipe.62"] { background-position: 84.61538461538461% 92.3076923076923%; }
	[data-icon="recipe.69"] { background-position: 92.3076923076923% 92.3076923076923%; }
	[data-icon="recipe.74"] { background-position: 100% 92.3076923076923%; }
	[data-icon="recipe.79"] { background-position: 0% 100%; }
	[data-icon="recipe.100"] { background-position: 7.6923076923076925% 100%; }
	[data-icon="recipe.115"] { background-position: 15.384615384615385% 100%; }
	[data-icon="recipe.121"] { background-position: 23.076923076923077% 100%; }
	[data-icon="tech.1"] { background-position: 0% 0%; --x: 0; --y: 0; --rows: 14; }
	[data-icon="tech.1001"] { background-position: 5.882352941176471% 0%; --x: 1; --y: 0; --rows: 14; }
	[data-icon="tech.1002"] { background-position: 11.764705882352942% 0%; --x: 2; --y: 0; --rows: 14; }
	[data-icon="tech.1101"] { background-position: 17.647058823529413% 0%; --x: 3; --y: 0; --rows: 14; }
	[data-icon="tech.1102"] { background-position: 23.529411764705884% 0%; --x: 4; --y: 0; --rows: 14; }
	[data-icon="tech.1103"] { background-position: 29.411764705882355% 0%; --x: 5; --y: 0; --rows: 14; }
	[data-icon="tech.1104"] { background-position: 35.294117647058826% 0%; --x: 6; --y: 0; --rows: 14; }
	[data-icon="tech.1111"] { background-position: 41.1764705882353% 0%; --x: 7; --y: 0; --rows: 14; }
	[data-icon="tech.1112"] { background-position: 47.05882352941177% 0%; --x: 8; --y: 0; --rows: 14; }
	[data-icon="tech.1113"] { background-position: 52.94117647058824% 0%; --x: 9; --y: 0; --rows: 14; }
	[data-icon="tech.1114"] { background-position: 58.82352941176471% 0%; --x: 10; --y: 0; --rows: 14; }
	[data-icon="tech.1120"] { background-position: 64.70588235294119% 0%; --x: 11; --y: 0; --rows: 14; }
	[data-icon="tech.1121"] { background-position: 70.58823529411765% 0%; --x: 12; --y: 0; --rows: 14; }
	[data-icon="tech.1122"] { background-position: 76.47058823529412% 0%; --x: 13; --y: 0; --rows: 14; }
	[data-icon="tech.1123"] { background-position: 82.3529411764706% 0%; --x: 14; --y: 0; --rows: 14; }
	[data-icon="tech.1124"] { background-position: 88.23529411764707% 0%; --x: 15; --y: 0; --rows: 14; }
	[data-icon="tech.1125"] { background-position: 94.11764705882354% 0%; --x: 16; --y: 0; --rows: 14; }
	[data-icon="tech.1126"] { background-position: 100% 0%; --x: 17; --y: 0; --rows: 14; }
	[data-icon="tech.1131"] { background-position: 0% 5.882352941176471%; --x: 0; --y: 1; --rows: 14; }
	[data-icon="tech.1132"] { background-position: 5.882352941176471% 5.882352941176471%; --x: 1; --y: 1; --rows: 14; }
	[data-icon="tech.1133"] { background-position: 11.764705882352942% 5.882352941176471%; --x: 2; --y: 1; --rows: 14; }
	[data-icon="tech.1134"] { background-position: 17.647058823529413% 5.882352941176471%; --x: 3; --y: 1; --rows: 14; }
	[data-icon="tech.1141"] { background-position: 23.529411764705884% 5.882352941176471%; --x: 4; --y: 1; --rows: 14; }
	[data-icon="tech.1142"] { background-position: 29.411764705882355% 5.882352941176471%; --x: 5; --y: 1; --rows: 14; }
	[data-icon="tech.1143"] { background-position: 35.294117647058826% 5.882352941176471%; --x: 6; --y: 1; --rows: 14; }
	[data-icon="tech.1144"] { background-position: 41.1764705882353% 5.882352941176471%; --x: 7; --y: 1; --rows: 14; }
	[data-icon="tech.1145"] { background-position: 47.05882352941177% 5.882352941176471%; --x: 8; --y: 1; --rows: 14; }
	[data-icon="tech.1151"] { background-position: 52.94117647058824% 5.882352941176471%; --x: 9; --y: 1; --rows: 14; }
	[data-icon="tech.1152"] { background-position: 58.82352941176471% 5.882352941176471%; --x: 10; --y: 1; --rows: 14; }
	[data-icon="tech.1153"] { background-position: 64.70588235294119% 5.882352941176471%; --x: 11; --y: 1; --rows: 14; }
	[data-icon="tech.1201"] { background-position: 70.58823529411765% 5.882352941176471%; --x: 12; --y: 1; --rows: 14; }
	[data-icon="tech.1202"] { background-position: 76.47058823529412% 5.882352941176471%; --x: 13; --y: 1; --rows: 14; }
	[data-icon="tech.1203"] { background-position: 82.3529411764706% 5.882352941176471%; --x: 14; --y: 1; --rows: 14; }
	[data-icon="tech.1302"] { background-position: 88.23529411764707% 5.882352941176471%; --x: 15; --y: 1; --rows: 14; }
	[data-icon="tech.1303"] { background-position: 94.11764705882354% 5.882352941176471%; --x: 16; --y: 1; --rows: 14; }
	[data-icon="tech.1304"] { background-position: 100% 5.882352941176471%; --x: 17; --y: 1; --rows: 14; }
	[data-icon="tech.1305"] { background-position: 0% 11.764705882352942%; --x: 0; --y: 2; --rows: 14; }
	[data-icon="tech.1311"] { background-position: 5.882352941176471% 11.764705882352942%; --x: 1; --y: 2; --rows: 14; }
	[data-icon="tech.1312"] { background-position: 11.764705882352942% 11.764705882352942%; --x: 2; --y: 2; --rows: 14; }
	[data-icon="tech.1401"] { background-position: 17.647058823529413% 11.764705882352942%; --x: 3; --y: 2; --rows: 14; }
	[data-icon="tech.1402"] { background-position: 23.529411764705884% 11.764705882352942%; --x: 4; --y: 2; --rows: 14; }
	[data-icon="tech.1403"] { background-position: 29.411764705882355% 11.764705882352942%; --x: 5; --y: 2; --rows: 14; }
	[data-icon="tech.1411"] { background-position: 35.294117647058826% 11.764705882352942%; --x: 6; --y: 2; --rows: 14; }
	[data-icon="tech.1412"] { background-position: 41.1764705882353% 11.764705882352942%; --x: 7; --y: 2; --rows: 14; }
	[data-icon="tech.1413"] { background-position: 47.05882352941177% 11.764705882352942%; --x: 8; --y: 2; --rows: 14; }
	[data-icon="tech.1414"] { background-position: 52.94117647058824% 11.764705882352942%; --x: 9; --y: 2; --rows: 14; }
	[data-icon="tech.1415"] { background-position: 58.82352941176471% 11.764705882352942%; --x: 10; --y: 2; --rows: 14; }
	[data-icon="tech.1416"] { background-position: 64.70588235294119% 11.764705882352942%; --x: 11; --y: 2; --rows: 14; }
	[data-icon="tech.1417"] { background-position: 70.58823529411765% 11.764705882352942%; --x: 12; --y: 2; --rows: 14; }
	[data-icon="tech.1501"] { background-position: 76.47058823529412% 11.764705882352942%; --x: 13; --y: 2; --rows: 14; }
	[data-icon="tech.1502"] { background-position: 82.3529411764706% 11.764705882352942%; --x: 14; --y: 2; --rows: 14; }
	[data-icon="tech.1503"] { background-position: 88.23529411764707% 11.764705882352942%; --x: 15; --y: 2; --rows: 14; }
	[data-icon="tech.1504"] { background-position: 94.11764705882354% 11.764705882352942%; --x: 16; --y: 2; --rows: 14; }
	[data-icon="tech.1505"] { background-position: 100% 11.764705882352942%; --x: 17; --y: 2; --rows: 14; }
	[data-icon="tech.1506"] { background-position: 0% 17.647058823529413%; --x: 0; --y: 3; --rows: 14; }
	[data-icon="tech.1507"] { background-position: 5.882352941176471% 17.647058823529413%; --x: 1; --y: 3; --rows: 14; }
	[data-icon="tech.1508"] { background-position: 11.764705882352942% 17.647058823529413%; --x: 2; --y: 3; --rows: 14; }
	[data-icon="tech.1511"] { background-position: 17.647058823529413% 17.647058823529413%; --x: 3; --y: 3; --rows: 14; }
	[data-icon="tech.1512"] { background-position: 23.529411764705884% 17.647058823529413%; --x: 4; --y: 3; --rows: 14; }
	[data-icon="tech.1513"] { background-position: 29.411764705882355% 17.647058823529413%; --x: 5; --y: 3; --rows: 14; }
	[data-icon="tech.1521"] { background-position: 35.294117647058826% 17.647058823529413%; --x: 6; --y: 3; --rows: 14; }
	[data-icon="tech.1522"] { background-position: 41.1764705882353% 17.647058823529413%; --x: 7; --y: 3; --rows: 14; }
	[data-icon="tech.1523"] { background-position: 47.05882352941177% 17.647058823529413%; --x: 8; --y: 3; --rows: 14; }
	[data-icon="tech.1601"] { background-position: 52.94117647058824% 17.647058823529413%; --x: 9; --y: 3; --rows: 14; }
	[data-icon="tech.1602"] { background-position: 58.82352941176471% 17.647058823529413%; --x: 10; --y: 3; --rows: 14; }
	[data-icon="tech.1603"] { background-position: 64.70588235294119% 17.647058823529413%; --x: 11; --y: 3; --rows: 14; }
	[data-icon="tech.1604"] { background-position: 70.58823529411765% 17.647058823529413%; --x: 12; --y: 3; --rows: 14; }
	[data-icon="tech.1605"] { background-position: 76.47058823529412% 17.647058823529413%; --x: 13; --y: 3; --rows: 14; }
	[data-icon="tech.1606"] { background-position: 82.3529411764706% 17.647058823529413%; --x: 14; --y: 3; --rows: 14; }
	[data-icon="tech.1607"] { background-position: 88.23529411764707% 17.647058823529413%; --x: 15; --y: 3; --rows: 14; }
	[data-icon="tech.1608"] { background-position: 94.11764705882354% 17.647058823529413%; --x: 16; --y: 3; --rows: 14; }
	[data-icon="tech.1701"] { background-position: 100% 17.647058823529413%; --x: 17; --y: 3; --rows: 14; }
	[data-icon="tech.1702"] { background-position: 0% 23.529411764705884%; --x: 0; --y: 4; --rows: 14; }
	[data-icon="tech.1703"] { background-position: 5.882352941176471% 23.529411764705884%; --x: 1; --y: 4; --rows: 14; }
	[data-icon="tech.1704"] { background-position: 11.764705882352942% 23.529411764705884%; --x: 2; --y: 4; --rows: 14; }
	[data-icon="tech.1705"] { background-position: 17.647058823529413% 23.529411764705884%; --x: 3; --y: 4; --rows: 14; }
	[data-icon="tech.1711"] { background-position: 23.529411764705884% 23.529411764705884%; --x: 4; --y: 4; --rows: 14; }
	[data-icon="tech.1712"] { background-position: 29.411764705882355% 23.529411764705884%; --x: 5; --y: 4; --rows: 14; }
	[data-icon="tech.1801"] { background-position: 35.294117647058826% 23.529411764705884%; --x: 6; --y: 4; --rows: 14; }
	[data-icon="tech.1802"] { background-position: 41.1764705882353% 23.529411764705884%; --x: 7; --y: 4; --rows: 14; }
	[data-icon="tech.1803"] { background-position: 47.05882352941177% 23.529411764705884%; --x: 8; --y: 4; --rows: 14; }
	[data-icon="tech.1804"] { background-position: 52.94117647058824% 23.529411764705884%; --x: 9; --y: 4; --rows: 14; }
	[data-icon="tech.1805"] { background-position: 58.82352941176471% 23.529411764705884%; --x: 10; --y: 4; --rows: 14; }
	[data-icon="tech.1806"] { background-position: 64.70588235294119% 23.529411764705884%; --x: 11; --y: 4; --rows: 14; }
	[data-icon="tech.1807"] { background-position: 70.58823529411765% 23.529411764705884%; --x: 12; --y: 4; --rows: 14; }
	[data-icon="tech.1808"] { background-position: 76.47058823529412% 23.529411764705884%; --x: 13; --y: 4; --rows: 14; }
	[data-icon="tech.1809"] { background-position: 82.3529411764706% 23.529411764705884%; --x: 14; --y: 4; --rows: 14; }
	[data-icon="tech.1810"] { background-position: 88.23529411764707% 23.529411764705884%; --x: 15; --y: 4; --rows: 14; }
	[data-icon="tech.1811"] { background-position: 94.11764705882354% 23.529411764705884%; --x: 16; --y: 4; --rows: 14; }
	[data-icon="tech.1812"] { background-position: 100% 23.529411764705884%; --x: 17; --y: 4; --rows: 14; }
	[data-icon="tech.1813"] { background-position: 0% 29.411764705882355%; --x: 0; --y: 5; --rows: 14; }
	[data-icon="tech.1814"] { background-position: 5.882352941176471% 29.411764705882355%; --x: 1; --y: 5; --rows: 14; }
	[data-icon="tech.1815"] { background-position: 11.764705882352942% 29.411764705882355%; --x: 2; --y: 5; --rows: 14; }
	[data-icon="tech.1816"] { background-position: 17.647058823529413% 29.411764705882355%; --x: 3; --y: 5; --rows: 14; }
	[data-icon="tech.1817"] { background-position: 23.529411764705884% 29.411764705882355%; --x: 4; --y: 5; --rows: 14; }
	[data-icon="tech.1818"] { background-position: 29.411764705882355% 29.411764705882355%; --x: 5; --y: 5; --rows: 14; }
	[data-icon="tech.1819"] { background-position: 35.294117647058826% 29.411764705882355%; --x: 6; --y: 5; --rows: 14; }
	[data-icon="tech.1820"] { background-position: 41.1764705882353% 29.411764705882355%; --x: 7; --y: 5; --rows: 14; }
	[data-icon="tech.1821"] { background-position: 47.05882352941177% 29.411764705882355%; --x: 8; --y: 5; --rows: 14; }
	[data-icon="tech.1822"] { background-position: 52.94117647058824% 29.411764705882355%; --x: 9; --y: 5; --rows: 14; }
	[data-icon="tech.1823"] { background-position: 58.82352941176471% 29.411764705882355%; --x: 10; --y: 5; --rows: 14; }
	[data-icon="tech.1824"] { background-position: 64.70588235294119% 29.411764705882355%; --x: 11; --y: 5; --rows: 14; }
	[data-icon="tech.1826"] { background-position: 70.58823529411765% 29.411764705882355%; --x: 12; --y: 5; --rows: 14; }
	[data-icon="tech.1901"] { background-position: 76.47058823529412% 29.411764705882355%; --x: 13; --y: 5; --rows: 14; }
	[data-icon="tech.1902"] { background-position: 82.3529411764706% 29.411764705882355%; --x: 14; --y: 5; --rows: 14; }
	[data-icon="tech.1903"] { background-position: 88.23529411764707% 29.411764705882355%; --x: 15; --y: 5; --rows: 14; }
	[data-icon="tech.1904"] { background-position: 94.11764705882354% 29.411764705882355%; --x: 16; --y: 5; --rows: 14; }
	[data-icon="tech.2101"] { background-position: 100% 29.411764705882355%; --x: 17; --y: 5; --rows: 14; }
	[data-icon="tech.2102"] { background-position: 0% 35.294117647058826%; --x: 0; --y: 6; --rows: 14; }
	[data-icon="tech.2103"] { background-position: 5.882352941176471% 35.294117647058826%; --x: 1; --y: 6; --rows: 14; }
	[data-icon="tech.2104"] { background-position: 11.764705882352942% 35.294117647058826%; --x: 2; --y: 6; --rows: 14; }
	[data-icon="tech.2105"] { background-position: 17.647058823529413% 35.294117647058826%; --x: 3; --y: 6; --rows: 14; }
	[data-icon="tech.2106"] { background-position: 23.529411764705884% 35.294117647058826%; --x: 4; --y: 6; --rows: 14; }
	[data-icon="tech.2201"] { background-position: 29.411764705882355% 35.294117647058826%; --x: 5; --y: 6; --rows: 14; }
	[data-icon="tech.2202"] { background-position: 35.294117647058826% 35.294117647058826%; --x: 6; --y: 6; --rows: 14; }
	[data-icon="tech.2203"] { background-position: 41.1764705882353% 35.294117647058826%; --x: 7; --y: 6; --rows: 14; }
	[data-icon="tech.2204"] { background-position: 47.05882352941177% 35.294117647058826%; --x: 8; --y: 6; --rows: 14; }
	[data-icon="tech.2205"] { background-position: 52.94117647058824% 35.294117647058826%; --x: 9; --y: 6; --rows: 14; }
	[data-icon="tech.2206"] { background-position: 58.82352941176471% 35.294117647058826%; --x: 10; --y: 6; --rows: 14; }
	[data-icon="tech.2207"] { background-position: 64.70588235294119% 35.294117647058826%; --x: 11; --y: 6; --rows: 14; }
	[data-icon="tech.2208"] { background-position: 70.58823529411765% 35.294117647058826%; --x: 12; --y: 6; --rows: 14; }
	[data-icon="tech.2301"] { background-position: 76.47058823529412% 35.294117647058826%; --x: 13; --y: 6; --rows: 14; }
	[data-icon="tech.2302"] { background-position: 82.3529411764706% 35.294117647058826%; --x: 14; --y: 6; --rows: 14; }
	[data-icon="tech.2303"] { background-position: 88.23529411764707% 35.294117647058826%; --x: 15; --y: 6; --rows: 14; }
	[data-icon="tech.2304"] { background-position: 94.11764705882354% 35.294117647058826%; --x: 16; --y: 6; --rows: 14; }
	[data-icon="tech.2305"] { background-position: 100% 35.294117647058826%; --x: 17; --y: 6; --rows: 14; }
	[data-icon="tech.2306"] { background-position: 0% 41.1764705882353%; --x: 0; --y: 7; --rows: 14; }
	[data-icon="tech.2307"] { background-position: 5.882352941176471% 41.1764705882353%; --x: 1; --y: 7; --rows: 14; }
	[data-icon="tech.2401"] { background-position: 11.764705882352942% 41.1764705882353%; --x: 2; --y: 7; --rows: 14; }
	[data-icon="tech.2402"] { background-position: 17.647058823529413% 41.1764705882353%; --x: 3; --y: 7; --rows: 14; }
	[data-icon="tech.2403"] { background-position: 23.529411764705884% 41.1764705882353%; --x: 4; --y: 7; --rows: 14; }
	[data-icon="tech.2404"] { background-position: 29.411764705882355% 41.1764705882353%; --x: 5; --y: 7; --rows: 14; }
	[data-icon="tech.2405"] { background-position: 35.294117647058826% 41.1764705882353%; --x: 6; --y: 7; --rows: 14; }
	[data-icon="tech.2406"] { background-position: 41.1764705882353% 41.1764705882353%; --x: 7; --y: 7; --rows: 14; }
	[data-icon="tech.2407"] { background-position: 47.05882352941177% 41.1764705882353%; --x: 8; --y: 7; --rows: 14; }
	[data-icon="tech.2501"] { background-position: 52.94117647058824% 41.1764705882353%; --x: 9; --y: 7; --rows: 14; }
	[data-icon="tech.2502"] { background-position: 58.82352941176471% 41.1764705882353%; --x: 10; --y: 7; --rows: 14; }
	[data-icon="tech.2503"] { background-position: 64.70588235294119% 41.1764705882353%; --x: 11; --y: 7; --rows: 14; }
	[data-icon="tech.2504"] { background-position: 70.58823529411765% 41.1764705882353%; --x: 12; --y: 7; --rows: 14; }
	[data-icon="tech.2505"] { background-position: 76.47058823529412% 41.1764705882353%; --x: 13; --y: 7; --rows: 14; }
	[data-icon="tech.2506"] { background-position: 82.3529411764706% 41.1764705882353%; --x: 14; --y: 7; --rows: 14; }
	[data-icon="tech.2601"] { background-position: 88.23529411764707% 41.1764705882353%; --x: 15; --y: 7; --rows: 14; }
	[data-icon="tech.2602"] { background-position: 94.11764705882354% 41.1764705882353%; --x: 16; --y: 7; --rows: 14; }
	[data-icon="tech.2603"] { background-position: 100% 41.1764705882353%; --x: 17; --y: 7; --rows: 14; }
	[data-icon="tech.2604"] { background-position: 0% 47.05882352941177%; --x: 0; --y: 8; --rows: 14; }
	[data-icon="tech.2605"] { background-position: 5.882352941176471% 47.05882352941177%; --x: 1; --y: 8; --rows: 14; }
	[data-icon="tech.2606"] { background-position: 11.764705882352942% 47.05882352941177%; --x: 2; --y: 8; --rows: 14; }
	[data-icon="tech.2701"] { background-position: 17.647058823529413% 47.05882352941177%; --x: 3; --y: 8; --rows: 14; }
	[data-icon="tech.2702"] { background-position: 23.529411764705884% 47.05882352941177%; --x: 4; --y: 8; --rows: 14; }
	[data-icon="tech.2703"] { background-position: 29.411764705882355% 47.05882352941177%; --x: 5; --y: 8; --rows: 14; }
	[data-icon="tech.2704"] { background-position: 35.294117647058826% 47.05882352941177%; --x: 6; --y: 8; --rows: 14; }
	[data-icon="tech.2705"] { background-position: 41.1764705882353% 47.05882352941177%; --x: 7; --y: 8; --rows: 14; }
	[data-icon="tech.2801"] { background-position: 47.05882352941177% 47.05882352941177%; --x: 8; --y: 8; --rows: 14; }
	[data-icon="tech.2802"] { background-position: 52.94117647058824% 47.05882352941177%; --x: 9; --y: 8; --rows: 14; }
	[data-icon="tech.2803"] { background-position: 58.82352941176471% 47.05882352941177%; --x: 10; --y: 8; --rows: 14; }
	[data-icon="tech.2804"] { background-position: 64.70588235294119% 47.05882352941177%; --x: 11; --y: 8; --rows: 14; }
	[data-icon="tech.2805"] { background-position: 70.58823529411765% 47.05882352941177%; --x: 12; --y: 8; --rows: 14; }
	[data-icon="tech.2806"] { background-position: 76.47058823529412% 47.05882352941177%; --x: 13; --y: 8; --rows: 14; }
	[data-icon="tech.2807"] { background-position: 82.3529411764706% 47.05882352941177%; --x: 14; --y: 8; --rows: 14; }
	[data-icon="tech.2901"] { background-position: 88.23529411764707% 47.05882352941177%; --x: 15; --y: 8; --rows: 14; }
	[data-icon="tech.2902"] { background-position: 94.11764705882354% 47.05882352941177%; --x: 16; --y: 8; --rows: 14; }
	[data-icon="tech.2903"] { background-position: 100% 47.05882352941177%; --x: 17; --y: 8; --rows: 14; }
	[data-icon="tech.2904"] { background-position: 0% 52.94117647058824%; --x: 0; --y: 9; --rows: 14; }
	[data-icon="tech.2905"] { background-position: 0% 52.94117647058824%; --x: 0; --y: 9; --rows: 14; }
	[data-icon="tech.2906"] { background-position: 0% 52.94117647058824%; --x: 0; --y: 9; --rows: 14; }
	[data-icon="tech.2951"] { background-position: 5.882352941176471% 52.94117647058824%; --x: 1; --y: 9; --rows: 14; }
	[data-icon="tech.2952"] { background-position: 11.764705882352942% 52.94117647058824%; --x: 2; --y: 9; --rows: 14; }
	[data-icon="tech.2953"] { background-position: 17.647058823529413% 52.94117647058824%; --x: 3; --y: 9; --rows: 14; }
	[data-icon="tech.2954"] { background-position: 23.529411764705884% 52.94117647058824%; --x: 4; --y: 9; --rows: 14; }
	[data-icon="tech.2955"] { background-position: 29.411764705882355% 52.94117647058824%; --x: 5; --y: 9; --rows: 14; }
	[data-icon="tech.2956"] { background-position: 35.294117647058826% 52.94117647058824%; --x: 6; --y: 9; --rows: 14; }
	[data-icon="tech.3101"] { background-position: 41.1764705882353% 52.94117647058824%; --x: 7; --y: 9; --rows: 14; }
	[data-icon="tech.3102"] { background-position: 47.05882352941177% 52.94117647058824%; --x: 8; --y: 9; --rows: 14; }
	[data-icon="tech.3103"] { background-position: 52.94117647058824% 52.94117647058824%; --x: 9; --y: 9; --rows: 14; }
	[data-icon="tech.3104"] { background-position: 58.82352941176471% 52.94117647058824%; --x: 10; --y: 9; --rows: 14; }
	[data-icon="tech.3105"] { background-position: 64.70588235294119% 52.94117647058824%; --x: 11; --y: 9; --rows: 14; }
	[data-icon="tech.3106"] { background-position: 70.58823529411765% 52.94117647058824%; --x: 12; --y: 9; --rows: 14; }
	[data-icon="tech.3201"] { background-position: 76.47058823529412% 52.94117647058824%; --x: 13; --y: 9; --rows: 14; }
	[data-icon="tech.3202"] { background-position: 82.3529411764706% 52.94117647058824%; --x: 14; --y: 9; --rows: 14; }
	[data-icon="tech.3203"] { background-position: 88.23529411764707% 52.94117647058824%; --x: 15; --y: 9; --rows: 14; }
	[data-icon="tech.3204"] { background-position: 94.11764705882354% 52.94117647058824%; --x: 16; --y: 9; --rows: 14; }
	[data-icon="tech.3205"] { background-position: 100% 52.94117647058824%; --x: 17; --y: 9; --rows: 14; }
	[data-icon="tech.3206"] { background-position: 0% 58.82352941176471%; --x: 0; --y: 10; --rows: 14; }
	[data-icon="tech.3207"] { background-position: 5.882352941176471% 58.82352941176471%; --x: 1; --y: 10; --rows: 14; }
	[data-icon="tech.3208"] { background-position: 11.764705882352942% 58.82352941176471%; --x: 2; --y: 10; --rows: 14; }
	[data-icon="tech.3301"] { background-position: 17.647058823529413% 58.82352941176471%; --x: 3; --y: 10; --rows: 14; }
	[data-icon="tech.3302"] { background-position: 23.529411764705884% 58.82352941176471%; --x: 4; --y: 10; --rows: 14; }
	[data-icon="tech.3303"] { background-position: 29.411764705882355% 58.82352941176471%; --x: 5; --y: 10; --rows: 14; }
	[data-icon="tech.3304"] { background-position: 35.294117647058826% 58.82352941176471%; --x: 6; --y: 10; --rows: 14; }
	[data-icon="tech.3305"] { background-position: 41.1764705882353% 58.82352941176471%; --x: 7; --y: 10; --rows: 14; }
	[data-icon="tech.3306"] { background-position: 47.05882352941177% 58.82352941176471%; --x: 8; --y: 10; --rows: 14; }
	[data-icon="tech.3311"] { background-position: 52.94117647058824% 58.82352941176471%; --x: 9; --y: 10; --rows: 14; }
	[data-icon="tech.3312"] { background-position: 58.82352941176471% 58.82352941176471%; --x: 10; --y: 10; --rows: 14; }
	[data-icon="tech.3313"] { background-position: 64.70588235294119% 58.82352941176471%; --x: 11; --y: 10; --rows: 14; }
	[data-icon="tech.3314"] { background-position: 70.58823529411765% 58.82352941176471%; --x: 12; --y: 10; --rows: 14; }
	[data-icon="tech.3315"] { background-position: 76.47058823529412% 58.82352941176471%; --x: 13; --y: 10; --rows: 14; }
	[data-icon="tech.3316"] { background-position: 82.3529411764706% 58.82352941176471%; --x: 14; --y: 10; --rows: 14; }
	[data-icon="tech.4001"] { background-position: 88.23529411764707% 58.82352941176471%; --x: 15; --y: 10; --rows: 14; }
	[data-icon="tech.4002"] { background-position: 94.11764705882354% 58.82352941176471%; --x: 16; --y: 10; --rows: 14; }
	[data-icon="tech.4003"] { background-position: 100% 58.82352941176471%; --x: 17; --y: 10; --rows: 14; }
	[data-icon="tech.4004"] { background-position: 0% 64.70588235294119%; --x: 0; --y: 11; --rows: 14; }
	[data-icon="tech.4005"] { background-position: 5.882352941176471% 64.70588235294119%; --x: 1; --y: 11; --rows: 14; }
	[data-icon="tech.3401"] { background-position: 11.764705882352942% 64.70588235294119%; --x: 2; --y: 11; --rows: 14; }
	[data-icon="tech.3402"] { background-position: 17.647058823529413% 64.70588235294119%; --x: 3; --y: 11; --rows: 14; }
	[data-icon="tech.3403"] { background-position: 23.529411764705884% 64.70588235294119%; --x: 4; --y: 11; --rows: 14; }
	[data-icon="tech.3404"] { background-position: 29.411764705882355% 64.70588235294119%; --x: 5; --y: 11; --rows: 14; }
	[data-icon="tech.3405"] { background-position: 35.294117647058826% 64.70588235294119%; --x: 6; --y: 11; --rows: 14; }
	[data-icon="tech.3406"] { background-position: 41.1764705882353% 64.70588235294119%; --x: 7; --y: 11; --rows: 14; }
	[data-icon="tech.3407"] { background-position: 47.05882352941177% 64.70588235294119%; --x: 8; --y: 11; --rows: 14; }
	[data-icon="tech.3501"] { background-position: 52.94117647058824% 64.70588235294119%; --x: 9; --y: 11; --rows: 14; }
	[data-icon="tech.3502"] { background-position: 58.82352941176471% 64.70588235294119%; --x: 10; --y: 11; --rows: 14; }
	[data-icon="tech.3503"] { background-position: 64.70588235294119% 64.70588235294119%; --x: 11; --y: 11; --rows: 14; }
	[data-icon="tech.3504"] { background-position: 70.58823529411765% 64.70588235294119%; --x: 12; --y: 11; --rows: 14; }
	[data-icon="tech.3505"] { background-position: 76.47058823529412% 64.70588235294119%; --x: 13; --y: 11; --rows: 14; }
	[data-icon="tech.3506"] { background-position: 82.3529411764706% 64.70588235294119%; --x: 14; --y: 11; --rows: 14; }
	[data-icon="tech.3507"] { background-position: 88.23529411764707% 64.70588235294119%; --x: 15; --y: 11; --rows: 14; }
	[data-icon="tech.3508"] { background-position: 94.11764705882354% 64.70588235294119%; --x: 16; --y: 11; --rows: 14; }
	[data-icon="tech.3509"] { background-position: 100% 64.70588235294119%; --x: 17; --y: 11; --rows: 14; }
	[data-icon="tech.3510"] { background-position: 0% 70.58823529411765%; --x: 0; --y: 12; --rows: 14; }
	[data-icon="tech.3801"] { background-position: 5.882352941176471% 70.58823529411765%; --x: 1; --y: 12; --rows: 14; }
	[data-icon="tech.3802"] { background-position: 11.764705882352942% 70.58823529411765%; --x: 2; --y: 12; --rows: 14; }
	[data-icon="tech.3803"] { background-position: 17.647058823529413% 70.58823529411765%; --x: 3; --y: 12; --rows: 14; }
	[data-icon="tech.3601"] { background-position: 23.529411764705884% 70.58823529411765%; --x: 4; --y: 12; --rows: 14; }
	[data-icon="tech.3602"] { background-position: 29.411764705882355% 70.58823529411765%; --x: 5; --y: 12; --rows: 14; }
	[data-icon="tech.3603"] { background-position: 35.294117647058826% 70.58823529411765%; --x: 6; --y: 12; --rows: 14; }
	[data-icon="tech.3604"] { background-position: 41.1764705882353% 70.58823529411765%; --x: 7; --y: 12; --rows: 14; }
	[data-icon="tech.3605"] { background-position: 47.05882352941177% 70.58823529411765%; --x: 8; --y: 12; --rows: 14; }
	[data-icon="tech.3606"] { background-position: 52.94117647058824% 70.58823529411765%; --x: 9; --y: 12; --rows: 14; }
	[data-icon="tech.3701"] { background-position: 58.82352941176471% 70.58823529411765%; --x: 10; --y: 12; --rows: 14; }
	[data-icon="tech.3702"] { background-position: 64.70588235294119% 70.58823529411765%; --x: 11; --y: 12; --rows: 14; }
	[data-icon="tech.3703"] { background-position: 70.58823529411765% 70.58823529411765%; --x: 12; --y: 12; --rows: 14; }
	[data-icon="tech.3704"] { background-position: 76.47058823529412% 70.58823529411765%; --x: 13; --y: 12; --rows: 14; }
	[data-icon="tech.3705"] { background-position: 82.3529411764706% 70.58823529411765%; --x: 14; --y: 12; --rows: 14; }
	[data-icon="tech.3706"] { background-position: 88.23529411764707% 70.58823529411765%; --x: 15; --y: 12; --rows: 14; }
	[data-icon="tech.3901"] { background-position: 94.11764705882354% 70.58823529411765%; --x: 16; --y: 12; --rows: 14; }
	[data-icon="tech.3902"] { background-position: 100% 70.58823529411765%; --x: 17; --y: 12; --rows: 14; }
	[data-icon="tech.3903"] { background-position: 0% 76.47058823529412%; --x: 0; --y: 13; --rows: 14; }
	[data-icon="tech.3904"] { background-position: 5.882352941176471% 76.47058823529412%; --x: 1; --y: 13; --rows: 14; }
	[data-icon="tech.4101"] { background-position: 11.764705882352942% 76.47058823529412%; --x: 2; --y: 13; --rows: 14; }
	[data-icon="tech.4102"] { background-position: 17.647058823529413% 76.47058823529412%; --x: 3; --y: 13; --rows: 14; }
	[data-icon="tech.4103"] { background-position: 23.529411764705884% 76.47058823529412%; --x: 4; --y: 13; --rows: 14; }
	[data-icon="tech.4104"] { background-position: 29.411764705882355% 76.47058823529412%; --x: 5; --y: 13; --rows: 14; }
	[data-icon="tech.5001"] { background-position: 35.294117647058826% 76.47058823529412%; --x: 6; --y: 13; --rows: 14; }
	[data-icon="tech.5002"] { background-position: 41.1764705882353% 76.47058823529412%; --x: 7; --y: 13; --rows: 14; }
	[data-icon="tech.5003"] { background-position: 47.05882352941177% 76.47058823529412%; --x: 8; --y: 13; --rows: 14; }
	[data-icon="tech.5004"] { background-position: 52.94117647058824% 76.47058823529412%; --x: 9; --y: 13; --rows: 14; }
	[data-icon="tech.5005"] { background-position: 58.82352941176471% 76.47058823529412%; --x: 10; --y: 13; --rows: 14; }
	[data-icon="tech.5006"] { background-position: 64.70588235294119% 76.47058823529412%; --x: 11; --y: 13; --rows: 14; }
	[data-icon="tech.5101"] { background-position: 70.58823529411765% 76.47058823529412%; --x: 12; --y: 13; --rows: 14; }
	[data-icon="tech.5102"] { background-position: 76.47058823529412% 76.47058823529412%; --x: 13; --y: 13; --rows: 14; }
	[data-icon="tech.5103"] { background-position: 82.3529411764706% 76.47058823529412%; --x: 14; --y: 13; --rows: 14; }
	[data-icon="tech.5104"] { background-position: 88.23529411764707% 76.47058823529412%; --x: 15; --y: 13; --rows: 14; }
	[data-icon="tech.5105"] { background-position: 94.11764705882354% 76.47058823529412%; --x: 16; --y: 13; --rows: 14; }
	[data-icon="tech.5106"] { background-position: 100% 76.47058823529412%; --x: 17; --y: 13; --rows: 14; }
	[data-icon="tech.5201"] { background-position: 0% 82.3529411764706%; --x: 0; --y: 14; --rows: 14; }
	[data-icon="tech.5202"] { background-position: 5.882352941176471% 82.3529411764706%; --x: 1; --y: 14; --rows: 14; }
	[data-icon="tech.5203"] { background-position: 11.764705882352942% 82.3529411764706%; --x: 2; --y: 14; --rows: 14; }
	[data-icon="tech.5204"] { background-position: 17.647058823529413% 82.3529411764706%; --x: 3; --y: 14; --rows: 14; }
	[data-icon="tech.5205"] { background-position: 23.529411764705884% 82.3529411764706%; --x: 4; --y: 14; --rows: 14; }
	[data-icon="tech.5206"] { background-position: 29.411764705882355% 82.3529411764706%; --x: 5; --y: 14; --rows: 14; }
	[data-icon="tech.5301"] { background-position: 35.294117647058826% 82.3529411764706%; --x: 6; --y: 14; --rows: 14; }
	[data-icon="tech.5302"] { background-position: 41.1764705882353% 82.3529411764706%; --x: 7; --y: 14; --rows: 14; }
	[data-icon="tech.5303"] { background-position: 47.05882352941177% 82.3529411764706%; --x: 8; --y: 14; --rows: 14; }
	[data-icon="tech.5304"] { background-position: 52.94117647058824% 82.3529411764706%; --x: 9; --y: 14; --rows: 14; }
	[data-icon="tech.5305"] { background-position: 58.82352941176471% 82.3529411764706%; --x: 10; --y: 14; --rows: 14; }
	[data-icon="tech.5401"] { background-position: 64.70588235294119% 82.3529411764706%; --x: 11; --y: 14; --rows: 14; }
	[data-icon="tech.5402"] { background-position: 70.58823529411765% 82.3529411764706%; --x: 12; --y: 14; --rows: 14; }
	[data-icon="tech.5403"] { background-position: 76.47058823529412% 82.3529411764706%; --x: 13; --y: 14; --rows: 14; }
	[data-icon="tech.5404"] { background-position: 82.3529411764706% 82.3529411764706%; --x: 14; --y: 14; --rows: 14; }
	[data-icon="tech.5405"] { background-position: 88.23529411764707% 82.3529411764706%; --x: 15; --y: 14; --rows: 14; }
	[data-icon="tech.5601"] { background-position: 94.11764705882354% 82.3529411764706%; --x: 16; --y: 14; --rows: 14; }
	[data-icon="tech.5602"] { background-position: 100% 82.3529411764706%; --x: 17; --y: 14; --rows: 14; }
	[data-icon="tech.5603"] { background-position: 0% 88.23529411764707%; --x: 0; --y: 15; --rows: 14; }
	[data-icon="tech.5604"] { background-position: 5.882352941176471% 88.23529411764707%; --x: 1; --y: 15; --rows: 14; }
	[data-icon="tech.5605"] { background-position: 11.764705882352942% 88.23529411764707%; --x: 2; --y: 15; --rows: 14; }
	[data-icon="tech.5701"] { background-position: 17.647058823529413% 88.23529411764707%; --x: 3; --y: 15; --rows: 14; }
	[data-icon="tech.5702"] { background-position: 23.529411764705884% 88.23529411764707%; --x: 4; --y: 15; --rows: 14; }
	[data-icon="tech.5703"] { background-position: 29.411764705882355% 88.23529411764707%; --x: 5; --y: 15; --rows: 14; }
	[data-icon="tech.5704"] { background-position: 35.294117647058826% 88.23529411764707%; --x: 6; --y: 15; --rows: 14; }
	[data-icon="tech.5705"] { background-position: 41.1764705882353% 88.23529411764707%; --x: 7; --y: 15; --rows: 14; }
	[data-icon="tech.5801"] { background-position: 47.05882352941177% 88.23529411764707%; --x: 8; --y: 15; --rows: 14; }
	[data-icon="tech.5802"] { background-position: 52.94117647058824% 88.23529411764707%; --x: 9; --y: 15; --rows: 14; }
	[data-icon="tech.5803"] { background-position: 58.82352941176471% 88.23529411764707%; --x: 10; --y: 15; --rows: 14; }
	[data-icon="tech.5804"] { background-position: 64.70588235294119% 88.23529411764707%; --x: 11; --y: 15; --rows: 14; }
	[data-icon="tech.5805"] { background-position: 70.58823529411765% 88.23529411764707%; --x: 12; --y: 15; --rows: 14; }
	[data-icon="tech.5806"] { background-position: 76.47058823529412% 88.23529411764707%; --x: 13; --y: 15; --rows: 14; }
	[data-icon="tech.5807"] { background-position: 82.3529411764706% 88.23529411764707%; --x: 14; --y: 15; --rows: 14; }
	[data-icon="tech.5901"] { background-position: 88.23529411764707% 88.23529411764707%; --x: 15; --y: 15; --rows: 14; }
	[data-icon="tech.5902"] { background-position: 94.11764705882354% 88.23529411764707%; --x: 16; --y: 15; --rows: 14; }
	[data-icon="tech.5903"] { background-position: 100% 88.23529411764707%; --x: 17; --y: 15; --rows: 14; }
	[data-icon="tech.5904"] { background-position: 0% 94.11764705882354%; --x: 0; --y: 16; --rows: 14; }
	[data-icon="tech.5905"] { background-position: 5.882352941176471% 94.11764705882354%; --x: 1; --y: 16; --rows: 14; }
	[data-icon="tech.5906"] { background-position: 11.764705882352942% 94.11764705882354%; --x: 2; --y: 16; --rows: 14; }
	[data-icon="tech.5907"] { background-position: 17.647058823529413% 94.11764705882354%; --x: 3; --y: 16; --rows: 14; }
	[data-icon="tech.6001"] { background-position: 23.529411764705884% 94.11764705882354%; --x: 4; --y: 16; --rows: 14; }
	[data-icon="tech.6002"] { background-position: 29.411764705882355% 94.11764705882354%; --x: 5; --y: 16; --rows: 14; }
	[data-icon="tech.6003"] { background-position: 35.294117647058826% 94.11764705882354%; --x: 6; --y: 16; --rows: 14; }
	[data-icon="tech.6004"] { background-position: 41.1764705882353% 94.11764705882354%; --x: 7; --y: 16; --rows: 14; }
	[data-icon="tech.6005"] { background-position: 47.05882352941177% 94.11764705882354%; --x: 8; --y: 16; --rows: 14; }
	[data-icon="tech.6006"] { background-position: 52.94117647058824% 94.11764705882354%; --x: 9; --y: 16; --rows: 14; }
	[data-icon="tech.6101"] { background-position: 58.82352941176471% 94.11764705882354%; --x: 10; --y: 16; --rows: 14; }
	[data-icon="tech.6102"] { background-position: 64.70588235294119% 94.11764705882354%; --x: 11; --y: 16; --rows: 14; }
	[data-icon="tech.6103"] { background-position: 70.58823529411765% 94.11764705882354%; --x: 12; --y: 16; --rows: 14; }
	[data-icon="tech.6104"] { background-position: 76.47058823529412% 94.11764705882354%; --x: 13; --y: 16; --rows: 14; }
	[data-icon="tech.6105"] { background-position: 82.3529411764706% 94.11764705882354%; --x: 14; --y: 16; --rows: 14; }
	[data-icon="tech.6106"] { background-position: 88.23529411764707% 94.11764705882354%; --x: 15; --y: 16; --rows: 14; }
}