@layer reset;

@layer reset {
	html,
	body {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		font-family: 'Helvetica Neue', arial, sans-serif;
		color: #444;
	}
	
	ul, ol, dl, li, dd, dt {
		list-style: none;
	}
	
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

html {
	background-color: #673ab8;
}

#app {
	height: 100%;
	color: #fff;
}

header {
	padding: 10px;
	background: black;
}

h1 {
	display: inline-block;
	padding: 0 20px;
	font-size: 16px;
}

input[type="number"] {
	display: inline-block;
	width: 60px;
	height: 30px;
	padding: 4px 10px;
	border: none;
	border-radius: 10px 0 0 10px;
	margin-right: 1px;
	font-size: 16px;
	text-align: right;
	vertical-align: middle;
	
	&::-webkit-inner-spin-button {
		display: none;
	}
}

select {
	display: inline-block;
	height: 30px;
	padding: 4px 10px;
	border: none;
	border-radius: 0 10px 10px 0;
	font-size: 16px;
	vertical-align: middle;
}

pre {
	background: hsl(0deg 0% 0% / 10%);
	tab-size: 3ch;
}


main {
	padding: 20px 0;
}



.production-header {
	display: inline-grid;
	grid-template-columns: 4fr 2fr;
	align-items: end;
	width: 100%;
	padding: 0 20px 6px 40px;
	border-bottom: 10px solid hsla(0, 0%, 100%, 0.05);
	margin-bottom: 6px;
	font-size: 14px;
}


.node {
	position: relative;
/* 	background-color: hsl(0deg 0% 0% / 10%); */
	color: hsl(261.43deg 55.58% 68.98% / 55%);
	font-size: 20px;
	
	.node-header {
		display: inline-grid;
		grid-template-columns: 4fr 2fr;
		padding: 0px 20px 0 40px;
		width: 100%;
		background-color: hsl(0deg 0% 0% / calc(5% * var(--depth, 0)));
	}
	
	& > summary {
		cursor: pointer;
		
/* 		&:hover {
			background-color: hsla(0deg 0% 0% / 10%);
		} */
		
/* 		&:hover::before {
			content: '';
			position: absolute;
			top: 14px;
			left: 0px;
			width: calc(0px + 30px * var(--depth, 0));
			border-top: 2px solid hsl(0deg 0% 0% / 30%);
		} */
		
		&:hover::after {
			content: '';
			position: absolute;
			inset: -2px -0px;
			left: calc(0px + 30px * var(--depth, 0));
			right: calc(100% * (2/6));
			z-index: -1;
			border-radius: 10px;
			background-color: hsl(0deg 0% 0% / 10%);
			background:
				radial-gradient(circle at center, hsl(0deg 0% 100% / 5%), 40%, transparent),
				radial-gradient(circle at left top, hsl(302.59deg 100% 50% / 15%), transparent),
				radial-gradient(circle at right bottom, hsl(249.78deg 100% 63.92% / 15%), transparent)
			;
			background-blend-mode: overlay;
/* 			box-shadow: inset 0 0 0 2px hsl(0deg 0% 0% / 30%); */
		}
		&::marker { content: none; }
	}
	
	&:is(details)::before {
		content: '';
		position: absolute;
		top: 10px;
		left: calc(15px + 30px * var(--depth, 0));
		border-left: 12px solid;
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		transition: transform 200ms;
	}
	
	&[open]::before {
		transform: rotate(0.25turn);
	}
	
/* 	&:is(details)::after {
		content: '';
		position: absolute;
		top: 40px;
		left: calc(20px + 30px * var(--depth, 0));
		bottom: 10px;
		border-left: 2px dotted hsl(0deg 0% 100% / 10%);
	} */
	
/* 	&:is(details):hover::after {
		border-left: 2px solid hsl(0deg 0% 100% / 10%);
	} */
}



.list {
	margin-top: 10px;
	color: hsl(261.43deg 55.58% 68.98% / 55%);
	font-size: 20px;
	
	.list-item {
		display: grid;
		grid-template-columns: 4fr 2fr;
		padding: 0px 20px;
/* 		border-bottom: 10px solid hsla(0deg 0% 0% / 10%); */
		background-color: hsl(0deg 0% 0% / calc(10% * var(--depth, 0)));
/* 		&:nth-child(odd) { background-color: hsl(0deg 0% 100% / 2%); } */
/* 		&:nth-child(even) { background-color: hsl(0deg 0% 0% / 2%); } */
		&:hover {
			background-image: linear-gradient(
				90deg,
				hsla(261.43deg 95% 60% / calc(25% * var(--depth, 0))),
				hsla(261.43deg 75% 40% / calc(25% * var(--depth, 0)))
			);
			background-blend-mode: color;
		}
	}
}



.meta {
	padding: 3px 0;
	margin-left: calc(30px * var(--depth, 0));
}

.products {
	align-self: center;
	padding: 3px 0px;
	font-size: 14px;
	line-height: 1.2;
}

.output {}

.byproduct:not(:hover) {
	.perMinute, .item {
		filter: contrast(0.5);
		opacity: 0.5;
	}
}

.item {
	color: white;
}

.perMinute {
	display: inline-block;
	min-width: 5ch;
	text-align: right;
	color: hsl(0deg 69.91% 77.84%);
}

.factor {
	color: hsl(0deg 69.91% 77.84%);
}

.process {
	display: none;
	color: hsl(338.6deg 81.13% 68.82% / 37%);
}
